<snippet name="dormX12" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Dorm X12</h3>

    <p>The lights here are largely broken. The few that retain power flicker erratically, illuminating destruction: a sagging ceiling, a floor littered with metal scrap, a <span class="hiddenLink">[[pit|dormX4]]</span> that yawns under a tangle of black wires. Dark silhouettes surround you. Brief flashes of light reveal them to be destroyed pods, wires trailing from their shattered walls. A <a class="whiteMarker" board="8">white panel</a> shines over a heap of rubble.</p>

    <p>To the [[east|dormX11]], the darkness lessens. To the [[west|dormX13]], a red light shines.</p>
</div>

</snippet>