<snippet name="dormX4" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Dorm X4</h3>

    <p>The pit is jagged, its sides an accumulation of broken machinery and rubble. At the bottom, a small circle of debris has been cleared away. A <a class="whiteMarker" board="4">white panel</a> flickers in the middle.</p>

    <p>A faint circle of light overhead is the only sign that there is a world [[above|dormX12]].</p>
</div>

</snippet>