<snippet name="dormX10" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Dorm X10</h3>

    <p>Several pods here have been smashed to pieces by enormous chunks of debris. Wreckage and broken pipes lie scattered across the floor. A <a class="whiteMarker" board="6">white panel</a> hovers over the crushed remnants of a pod.</p>

    <p>The room runs to the [[east|dormX9]] and [[west|dormX11]].</p>
</div>

</snippet>