<snippet name="dormX8" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Dorm X8</h3>

    <p>Above looms a crooked canopy of leaden pipes. Buzzing green lights give off an ectoplasmic glow. Metal pods glitter, chained together by black wires. One pod stands open.</p>

    <p>A glowing <a class="whiteMarker" board="3">white panel</a> is set into the wall. Its light washes over you.</p>

    <p>The room runs to the [[east|podTower]] and [[west|dormX9]].</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(0);
%>

</snippet>