<snippet name="dormX9" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Dorm X9</h3>

    <p>Metal pods stretch into the distance. Machinery hums, resonant. Amidst the dark snarl of pipes and wires, a <a class="whiteMarker" board="5">white panel</a> hovers.</p>

    <p>The room runs to the [[east|dormX8]] and [[west|dormX10]].</p>
</div>

</snippet>