<snippet name="dormX11" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Dorm X11</h3>

    <p>The lights flicker here. Pods lie in various states of upheavel, some shattered or blasted with bulletholes. Torn wires send the occasional flurry of green sparks into the air. A <a class="whiteMarker" board="7">white panel</a> is set into the side of a cracked metal pod.</p>

    <p>The room runs to the [[east|dormX10]] and [[west|dormX12]], where the lights dim.</p>
</div>

</snippet>