<snippet name="dormX13" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Dorm X13</h3>

    <p>The rows of broken pods terminate abruptly. At the end of the room, a rusty door leads [[south|maintenanceTunnelX]], into a tunnel lined by flickering red lights. A metal plaque on the door, attached by a single screw, reads: AUTHORIZED PERSONNEL ONLY.</p>

    <p>The door is flanked by two panels. Only the <a class="whiteMarker" board="9">white panel</a> to the right is lit, the left cracked into three parts.</p>
</div>

</snippet>