<snippet name="maintenanceTunnelXEnd" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js; meta/machineScript.js">

<div id="machineDiv" class="absoluteAlign hidden popupMenu">
    <p>A prominent switch is located on the side of the apparatus.</p>

    <p><a class="activateLink">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>A blinding flash of light. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p>Enter.</p>
    </div>
</div>

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Maintenance Tunnel X - End</h3>

    <p>At the end of the tunnel, a vaguely cage-like <a class="machine">apparatus</a> made of interlocking metallic arms is set into the wall. Somewhere, water drips. The air is filled with the ambient hum-buzz of machinery.</p>

    <p>On the side of the apparatus is a <a class="whiteMarker" board="11">white panel</a>.</p>

    <p>The tunnel continues [[north|maintenanceTunnelX]].</p>
</div>

</snippet>