<snippet name="maintenanceTunnelX" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Maintenance Tunnel X</h3>

    <p>Detritus crunches beneath you as you make your way through the tunnel. The concrete floor is carpeted with rubble. Doors are set into the walls at regular intervals, but all are rusted shut.</p>

    <p>At the tunnel's halfway point, a <a class="whiteMarker" board="10">white panel</a> floats in the air.</p>

    <p>The tunnel runs [[north|dormX12]] and [[south|maintenanceTunnelXEnd]].</p>
</div>

</snippet>