<snippet name="maintenanceTunnelXEnd" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Maintenance Tunnel X - End</h3>

    <p>At the end of the tunnel, a vaguely cage-like machine made of interlocking metallic arms is set into the wall. Somewhere, water drips. The air is filled with the ambient hum-buzz of machinery.</p>

    <p>A prominent switch is located on the side of the machine, and above it is a <a class="whiteMarker" board="11">white panel</a>.</p>

    <p>The tunnel continues [[north|maintenanceTunnelX]].</p>
</div>

</snippet>