<snippet name="bedroom0" scripts="meta/markerDivScript.js">

<div class="panelFull absoluteAlign hidden" identifier="machine">
    <p>A metallic switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="bedroom0">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>Click. Nothing happens.</p>
    </div>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>A giant room. You cannot discern where it might end, or if it even has an end. Light shines from above, illuminating a vast assembly of floating beds, all perfectly made. Rich mahogany beds with thick velvet covers. Beds sized for children, bedazzled with pink and blue sequins. Skinny hospital beds, soggy mold-covered mattresses, sleeping bags, a <a class="whiteMarker" board="78">bed covered in writing</a>...</p>

    <p>The <a class="panelOpener" identifier="machine">apparatus</a> lies under a rustic wooden bed with navy bedsheets, adorned with embroidered anchors and ships.</p>

    <p>You can travel [[further|bedroom1]] from the apparatus.</p>
</div>
</snippet>

<snippet name="bedroom1" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>You see hammocks floating untethered to any object that would support both ends, collections of pillows and beanbags with no bedframe to be seen, ornate wooden beds with intricately carved headboards, gold beds with gold-trimmed bedsheets, <a class="whiteMarker" board="79">a bed covered in writing</a>...</p>

    <p>You can travel [[further|bedroom2]] from the apparatus, or [[closer|bedroom0]].</p>
</div>
</snippet>


<snippet name="bedroom2" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>You see beds that are enormous piles of dead leaves, and bed made of canned food, and beds made of bricks and mirrors and glass, and beds made of rotating colored polyhedrons, and <a class="whiteMarker" board="80">a bed made of writing</a>...</p>

    <p>You can travel [[further|bedroom3]] from the apparatus, or [[closer|bedroom1]].</p>
</div>
</snippet>


<snippet name="bedroom3" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>You see beds that are two-dimensional cartoon drawings, and beds that are just sketched out wireframes of three-dimensional beds, and beds that are just black silhouettes of beds, and beds that are invisible but cast shadows on the floor, and a <a class="whiteMarker" board="81">bed made of writing</a>...</p>

    <p>You can travel [[further|bedroom4]] from the apparatus, or [[closer|bedroom2]].</p>
</div>
</snippet>


<snippet name="bedroom4" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>You see beds that are collections of polygons, and beds that are assemblages of writhing black lines, and beds that are sketched-out ideas of beds, and beds that are the platonic forms of conceptual beds yet to exist in reality, and a <a class="whiteMarker" board="82">bed that is a messageboard that is a bed</a>...</p>

    <p>You can travel [[further|bedroom5]] from the apparatus, or [[closer|bedroom3]].</p>
</div>
</snippet>


<snippet name="bedroom5" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>You see beds that are tautological beds, and beds that are not beds, and beds that are beds under certain mathematical assumptions relating to bedspace, and beds that only exist partially in the bed noosphere...</p>

    <p>You can bed [[further|bedroom6]] from the bed, or [[closer|bedroom4]].</p>
</div>
</snippet>


<snippet name="bedroom6" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>You see beds that are beds that are beds that are beds that are beds that are beds that are beds that are beds that are beds that are beds that are beds that are beds that are beds that are beds...</p>

    <p>You bed bed [[further|bedroom7]] from the bed, or [[further|bedroom7]].</p>
</div>
</snippet>

<snippet name="bedroom7" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bed Room</h3>

    <p>You see beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds beds...</p>

    <p>You bed bed [[bed|bedroom8]] from bed bed, or [[bed|bedroom8]].</p>
</div>
</snippet>

<snippet name="bedroom8" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">bed</h3>

    <p>bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed bed</p>

    <p>bed bed bed bed bed bed bed bed bed</p>
</div>
</snippet>

