<snippet name="bridgeSkyIsland" tags="bridge">

<dialog class="menuPanel absoluteAlign" identifier="machine">
    <p>A marble switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="bridgeSkyIsland">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</dialog>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bridge - Sky Island</h3>

    <p>The <a class="panelOpener" identifier="machine">apparatus</a> is screwed into a floating chunk of stone, cracked and covered in moss. To the [[northwest|bridgeFloweringIsland]], a rickety wooden bridge extends from the chunk of stone onto the mist, slats rattling in the wind. To the [[east|bridgeEastCliff]], a similar bridge extends along the south face of a sheer cliffside.</p>
</div>
</snippet>

<snippet name="bridgeEastCliff" tags="bridge">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bridge - East Cliff</h3>

    <p>The cliff rises from the mist and ascends back into the mist - you can see neither top nor bottom. Within various clefts in the rock face, you see sprigs of plants with odd blue and yellow stems, and flowers that resemble more polygons than any flowers you know. A <button type="button" class="whiteMarker stoneStele" board="83">stone stele</button> hovers to the side.</p>

    <p>The bridge goes [[east|bridgeEastLanding]] and [[west|bridgeSkyIsland]].</p>
</div>
</snippet>


<snippet name="bridgeEastLanding" tags="bridge">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bridge - East Landing</h3>

    <p>Another floating chunk of stone much like the one you landed on. A <button type="button" class="whiteMarker stoneStele" board="84">stone stele</button> rests in its center.</p>

    <p>There is another bridge continuing to the [[east|bridgeEastRing]], made of elegant wrought iron. Iron bars and iron struts form guardrails. To the [[west|bridgeEastCliff]], the rickety wooden bridge leads back.</p>
</div>
</snippet>


<snippet name="bridgeEastRing" tags="bridge">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bridge - East Ring</h3>

    <p>You are greeted by another floating island of stone, this time with the ruins of a circular wall in its center. Lying in the middle of the circle is a grimy chalice forged half of silver and half of gold.</p>

    <p>A <button type="button" class="whiteMarker stoneStele" board="85">stone stele</button> looks over the edge of the island.</p>

    <p>Past it, the iron bridge has collapsed. You can see broken support pillars continuing for a few more feet in the mist, but after that there is no way forward. You can only go back [[west|bridgeEastLanding]].</p>
</div>
</snippet>


<snippet name="bridgeFloweringIsland" tags="bridge">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Bridge - Flowering Island</h3>

    <p>The wooden bridge ends in a floating island with an enormous flowering tree, sporting white and pink flowers on every branch. It smells sweet, floral. Petals swirl in the wind and vanish off the side of the island, into the mist. The grass is soft and dewy.</p>

    <p>A <button type="button" class="whiteMarker stoneStele" board="86">stone stele</button> stands beneath the tree.</p>

    <p>The bridge leads back [[southeast|bridgeSkyIsland]].</p>
</div>
</snippet>