<snippet name="cellWest" tags="cell">

<dialog class="menuPanel absoluteAlign hidden" identifier="scratches">
    <p>There are... 416 scratches in total.</p>
</dialog>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Cell - West</h3>

    <p>A cramped prison cell carved from rough-hewn stone. A musty blanket lies crumpled in the corner. Tight-packed steel bars to the north block off a dim corridor, where flickering wall torches illuminate other cells, all empty.</p>

    <p>A sleek <button type="button" class="whiteMarker blackPanel" board="87">black panel</button> is set into the wall, incongruently bright against the grime of the cell. Next to it, a set of deep <button type="button" class="panelOpener" identifier="scratches">scratches</button> has been gouged into the stone.</p>

    <p>To the [[east|cellEast]], a crude doorway leads to another cell.</p>
</div>
</snippet>

<snippet name="cellEast" tags="cell">

<dialog class="menuPanel absoluteAlign" identifier="machine">
    <p>A metallic switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><button type="button" class="activateLink" location="cellEast">Pull switch.</button></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><button type="button" class="successfulActivationLink">Enter.</button></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</dialog>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Cell - East</h3>

    <p>A bare prison cell with stone walls on all sides. A cage-like <button type="button" class="panelOpener" identifier="machine">apparatus</button> made of metal bars stands in the corner, covered in dust. The air is cool and damp.</p>

    <p>The only exit is [[west|cellWest]], where a crude doorway leads to another identically-sized cell.</p>
</div>
</snippet>

