<snippet name="familiarPlaceApparatus" tags="familiar">

<dialog class="menuPanel absoluteAlign" identifier="machine">
    <p>A metallic switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><button type="button" class="activateLink" location="familiarPlaceApparatus">Pull switch.</button></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><button type="button" class="successfulActivationLink">Enter.</button></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</dialog>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Familiar Place</h3>

    <p>An expanse of yellow carpet and off-white walls. Florescent lights buzz. Square support columns extend down from the ceiling. The landscape looks identical in all directions.</p>

    <p>The <button type="button" class="panelOpener" identifier="machine">apparatus</button> stands before you, humming quietly.</p>

    <p>You can <a class="familiarPlaceNav">wander</a> in any direction, though you suspect the one you choose will not make a difference.</p>
</div>
</snippet>

<snippet name="familiarPlacePanel" tags="familiar">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Familiar Place</h3>

    <p>An expanse of yellow carpet and off-white walls. Florescent lights buzz. Square support columns extend down from the ceiling. The landscape looks identical in all directions.</p>

    <p>You notice an <button type="button" class="whiteMarker offWhitePanel" board="74">off-white panel</button> camouflaged among the off-white walls, easily missable. Have you overlooked it before?</p>

    <p>You can <a class="familiarPlaceNav">wander</a> in any direction, though you suspect the one you choose will not make a difference.</p>
</div>
</snippet>

<snippet name="familiarPlaceDefault" tags="familiar">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Familiar Place</h3>

    <p>An expanse of yellow carpet and off-white walls. Florescent lights buzz. Square support columns extend down from the ceiling. The landscape looks identical in all directions.</p>

    <span id="familiarFlavorText"></span>

    <p>You can <a class="familiarPlaceNav">wander</a> in any direction, though you suspect the one you choose will not make a difference.</p>
</div>

<% 
genFamiliarFlavorText();
%>

</snippet>


