<snippet name="hiddenGrove" tags="hidden">

<div class="menuPanel absoluteAlign hidden" identifier="machine">
    <p>A metallic switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="hiddenGrove">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Hidden Grove</h3>

    <p>The <a class="panelOpener" identifier="machine">apparatus</a> rests in the center of a small pine grove. Above, a full moon hangs in a starry sky. A summer breeze blows. The wind carries the scent of pine needles and wildflowers.</p>

    <p>A <a class="whiteMarker woodenSign" board="68">wooden sign</a> creaks beneath a pine tree.</p>

    <p>A gap through the pines leads [[northwest|hiddenWell]].</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(11);
%>

</snippet>

<snippet name="hiddenWell" tags="hidden">

<% 
$(function () {
   document.getElementById("downLadderText").addEventListener("click", () => {
        story.transitionMessage = "The well shaft gradually expands as you descend. Further down, it becomes an immense cavern, an underground hollow you are entering rung by rung.";
   });
});
%>

<div class="menuPanel absoluteAlign hidden" identifier="well">
    <p>You look into the well. Where you expect darkness, perhaps the shimmer of moonlight reflecting on water, you instead see a rusty ladder leading far <span id="downLadderText" class="panelCloser" identifier="well">[[down|onTheLadder]]</span>, towards a faint red light at the bottom.</p>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Hidden Well</h3>

    <p>An old stone <span class="hiddenLink"><a class="panelOpener" identifier="well">well</a></span>, half-covered with vines, rests in the center of another pine grove. It has clearly seen better days. A <a class="whiteMarker woodenSign" board="70">wooden sign</a> leans against the well.</p>

    <p>A gap through the pines leads [[southeast|hiddenGrove]].</p>
</div>
</snippet>

<snippet name="onTheLadder" tags="hidden">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">On the Ladder</h3>

    <p>The rungs rattle, cold beneath your grip. Wind whistles through the caverns in eerie polyphony. A <a class="whiteMarker woodenSign" board="71">wooden sign</a> is placed on the cavern wall nearby.</p>

    <p>You can climb [[up|hiddenWell]] or [[down|whiteCavern]].</p>
</div>
</snippet>

<snippet name="whiteCavern" tags="hidden">

<% 
$(function () {
   document.getElementById("stepsDown").addEventListener("click", () => {
        story.transitionMessage = "You count 8108 steps down before you reach the door.";
   });
});
%>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">White Cavern</h3>

    <p>A hollow carved into the earth by hands long gone. White stone surrounds you. Stairs are cut into the ground, and a red carpet has been draped over them to soften your footfalls. Iron railings are built into the sides.</p>

    <p>A <a class="whiteMarker woodenSign" board="72">wooden sign</a> has been planted into the cavern floor.</p>

    <p>A rusty ladder at the top of the stairs leads [[up|onTheLadder]]. At the bottom of the stairs, all the way <span id="stepsDown">[[down|isolationChamber]]</span>, shines a door painted with the numbers 8:10 in a red so dark it looks almost black.</p>
</div>
</snippet>

<snippet name="isolationChamber" tags="hidden">

<% 
$(function () {
   document.getElementById("stepsUp").addEventListener("click", () => {
        story.transitionMessage = "You count 8108 steps up to the ladder.";
   });
});
%>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Isolation Chamber</h3>

    <p>A small room with a chair fixed to the floor, facing a darkened screen. Manacles have been grafted onto the chair's arms and legs. The light in the room, originating from no apparent source, pulses a soft red.</p>

    <p>A white door, painted with the numbers 8:10 in dark red, leads <span id="stepsUp">[[out|whiteCavern]]</span> of the room. Beneath the eye, a <a class="whiteMarker woodenSign" board="73">wooden sign</a> has been screwed onto the door.</p>
</div>
</snippet>