<snippet name="obsidianGrotto" tags="fire">

<dialog class="menuPanel absoluteAlign" identifier="machine">
    <p>A golden switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="obsidianGrotto">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</dialog>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Golden Grotto</h3>

    <p>A small cave of shining gold metal. It feels dangerously hot, a temperature that would burn you if you could burn.</p>

    <p>The <a class="panelOpener" identifier="machine">apparatus</a> in the center is wreathed with a frenzy of crackling embers that spark on the metal. Near it, an <button type="button" class="whiteMarker goldSphere" board="64">gold sphere</button> hovers.</p>

    <p>An exit to the [[east|moltenPumps]] leads to a hissing, crackling field of sulfur, with a bright line of fire on the horizon.</p>
</div>
</snippet>

<snippet name="moltenPumps" tags="fire">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Molten Pumps</h3>

    <p>Searing heat fills the air. Before you is an ocean of perpetual fire, incandescent. Instead of a sandy beach, the shore is a flat plain of hissing sulfur, glittering with red and gold embers. The ocean feeds into a conglomeration of machines, tubes and pipes harvesting a constant stream of red-hot liquid from the vehemently flaming tide.</p>

    <p>[[East|harvestMechanism2052A]] takes you along the shore, towards a bronze tower that vents occasional bursts of steam. To the [[south|brimstoneFields]], the rest of the beach is obscured by wavering heat and sparkling embers. To the [[west|obsidianGrotto]] is a small cave, set into towering golden cliffs that block off the rest of the shore.</p>
</div>
</snippet>

<snippet name="harvestMechanism2052A" tags="fire">

<dialog class="menuPanel absoluteAlign hidden" identifier="east">
    ï¿½ï¿½'(ï¿½qï¿½rï¿½ï¿½ 5ï¿½ï¿½+ï¿½Bï¿½ï¿½ï¿½Yï¿½dï¿½ï¿½ï¿½ï¿½ï¿½Rï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½?Hï¿½wï¿½Lï¿½  oï¿½Wwï¿½ï¿½Wwï¿½Yï¿½dï¿½Wwï¿½ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½>ï¿½?
        yV?ï¿½ r)ï¿½Wwï¿½ï¿½Wwï¿½Yï¿½dï¿½Wwï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½?
       ï¿½Zï¿½ï¿½ï¿½ ï¿½(ï¿½'f
                  ï¿½'f
                     ï¿½Yï¿½dï¿½'f
                            ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½:ï¿½?^ï¿½ï¿½-ï¿½ _ï¿½'f
                  ï¿½'f
                     ï¿½Yï¿½dï¿½'f
                            ï¿½ï¿½kï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½?|ï¿½qï¿½c0 ï¿½ã¸³ï¿½ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½3ï¿½?ï¿½%3Cï¿½[ï¿½0 %3CGï¿½ï¿½I#ï¿½ï¿½I#ï¿½Yï¿½dï¿½ï¿½I#ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½?lï¿½,ye ï¿½ï¿½ï¿½I#ï¿½ï¿½I#ï¿½Yï¿½dï¿½ï¿½I#ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    Eï¿½ï¿½I#ï¿½ï¿½I#ï¿½Yï¿½dï¿½ï¿½I#ï¿½ï¿½uï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½lï¿½?Qï¿½/ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½,ï¿½ï¿½ï¿½,ï¿½Yï¿½dï¿½ï¿½ï¿½,ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½??s}ï¿½ï¿½ Wï¿½ï¿½89ï¿½ï¿½89ï¿½Yï¿½dï¿½ï¿½89ï¿½ï¿½3ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½?
        ï¿½-ï¿½ï¿½ï¿½ e2ï¿½ï¿½,:ï¿½ï¿½,:ï¿½Yï¿½dï¿½ï¿½,:ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½?ï¿½zï¿½ï¿½rï¿½ kï¿½ï¿½+ï¿½Bï¿½+ï¿½Bï¿½Yï¿½dï¿½+ï¿½Bï¿½ï¿½hï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½Ì»?ï¿½_ï¿½oI vï¿½+ï¿½Bï¿½+ï¿½Bï¿½Yï¿½dï¿½+ï¿½Bï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½Õ»?ï¿½è¥ Cï¿½ ï¿½Yï¿½+ï¿½Bï¿½+ï¿½Bï¿½Yï¿½dï¿½+ï¿½Bï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½Oï¿½?ï¿½ï¿½Aï¿½ï¿½ï¿½ ï¿½,ï¿½GQï¿½GQï¿½Yï¿½dï¿½GQï¿½ï¿½Gï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½dï¿½?tvwï¿½ï¿½ï¿½ .ï¿½ï¿½GQï¿½GQï¿½Yï¿½dï¿½GQï¿½ï¿½oï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½?ï¿½4*ï¿½F ï¿½YÜ‹ï¿½YÜ‹ï¿½Yï¿½Yï¿½dÜ‹ï¿½Yï¿½ï¿½Jï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½??ï¿½Ô¬ï¿½ï¿½ ï¿½ï¿½Ü‹ï¿½YÜ‹ï¿½Yï¿½Yï¿½dÜ‹ï¿½Yï¿½ï¿½Rï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½?ï¿½}ï¿½ï¿½ï¿½ 6ï¿½ï¿½_
                  fï¿½_
                     fï¿½Yï¿½dï¿½_
                            fï¿½ï¿½hï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½Ç¿?ï¿½Jï¿½ï¿½O ï¿½ï¿½ï¿½_
                 fï¿½_
                    fï¿½Yï¿½dï¿½_
                           fï¿½ï¿½Rï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½É¿?ï¿½ï¿½Kï¿½#ï¿½ ï¿½fï¿½_
                  fï¿½_
                     fï¿½Yï¿½dï¿½_
                            fï¿½ï¿½Gï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½Eï¿½?ï¿½ï¿½Ir ï¿½ï¿½ï¿½ï¿½mï¿½ï¿½mï¿½Yï¿½dï¿½ï¿½mï¿½ï¿½`ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½Tï¿½?ï¿½ï¿½dï¿½ ï¿½ï¿½ï¿½ï¿½mï¿½ï¿½mï¿½Yï¿½dï¿½ï¿½mï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½?ï¿½ï¿½ï¿½ï¿½\
    ï¿½ï¿½ï¿½?ï¿½4ï¿½ xï¿½ï¿½ï¿½Avï¿½ï¿½Avï¿½Yï¿½dï¿½ï¿½Avï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½:ï¿½?dï¿½ï¿½-\ï¿½ ï¿½ï¿½/yï¿½/yï¿½Yï¿½dï¿½/yï¿½ï¿½aï¿½Yï¿½dï¿½Yï¿½dtc8d
    ï¿½ï¿½ï¿½?ï¿½CFï¿½ï¿½ ?ï¿½?ï¿½ï¿½lï¿½ï¿½P%3Cï¿½dï¿½ï¿½ï¿½ï¿½ï¿½ï¿½pï¿½eP%3Cï¿½dï¿½ï¿½ï¿½d
    ï¿½ï¿½ï¿½?ï¿½Mï¿½ï¿½' ï¿½+ï¿½?ï¿½ï¿½ï¿½3ï¿½ï¿½P%3Cï¿½dï¿½ï¿½ï¿½ï¿½ï¿½c|e|e^oe8
    ï¿½ï¿½ï¿½w}kï¿½wï¿½ï¿½ !ï¿½bï¿½8Bï¿½|e8HÛï¿½ï¿½ï¿½=:%3Cï¿½dQ%3Cï¿½d[%3C[dï¿½
    ï¿½ï¿½?=ï¿½Uï¿½ï¿½ ï¿½ï¿½ð—§‚ð—§‚ï¿½Yï¿½dð—§‚ï¿½ï¿½ï¿½ ï¿½Yï¿½dï¿½Yï¿½dï¿½1ï¿½9
    ï¿½ï¿½ï¿½?ï¿½ï¿½Rï¿½/; ï¿½ï¿½ï¿½o`ï¿½ï¿½o`ï¿½ï¿½Yï¿½dï¿½o`ï¿½ï¿½ï¿½ï¿½Yï¿½dï¿½Yï¿½dw(L[
    ï¿½ï¿½ï¿½?ï¿½Ô²ï¿½ï¿½ï¿½ ï¿½ï¿½o`ï¿½ï¿½o`ï¿½ï¿½Yï¿½dï¿½o`ï¿½ï¿½ï¿½> ï¿½Yï¿½dï¿½Yï¿½d$~ï¿½c
    ï¿½Zï¿½?ï¿½ï¿½SA_ ï¿½ï¿½Gï¿½ï¿½Gï¿½ï¿½Yï¿½dï¿½Gï¿½ï¿½ï¿½Fï¿½Yï¿½dï¿½Yï¿½dMï¿½(c
</dialog>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Harvest Mechanism 19:11-A</h3>

    <p>A multitude of pipes extend into the red ocean, pumping continuous fire into a mechanical tower adorned with various meters and dials. At the base of the tower, a network of even more pipes sprawl in various directions across the sulfur shore.</p>

    <p>An <button type="button" class="whiteMarker goldSphere" board="65">gold sphere</button> hovers over the red surf.</p>

    <p>You can go <a class="panelOpener" identifier="east">eaï¿½sï¿½ï¿½</a>, where you glimpse more towers, or back [[west|moltenPumps]].</p>
</div>
</snippet>


<snippet name="brimstoneFields" tags="fire">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Brimstone Fields</h3>

    <p>Occasional arcs of flame play upon hissing sulfur. The temperature is burning hot. Barriers of flame shoot up from the smoking fields, preventing passage in any direction except [[north|moltenPumps]] and [[south|moltenPumpsSouth]].</p>
</div>
</snippet>

<snippet name="moltenPumpsSouth" tags="fire">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Molten Pumps - South</h3>

    <p>You find an ocean of fire identical to the first, but facing south instead of north. Enormous rusted machines stand all around you, their pumps sluggish but still quite operational. Molten puddles of a glowing red-gold substance cover the ground. The <button type="button" class="whiteMarker goldSphere" board="66">gold sphere</button> floats above one such puddle.</p>

    <p>You can only go [[north|brimstoneFields]]; bulwarks of rusted machinery block any other path.</p>
</div>
</snippet>

