<snippet name="transmissionSummitBase" scripts="meta/markerDivScript.js">

<div class="panelFull absoluteAlign hidden" identifier="machine">
    <p>A metallic switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="transmissionSummitBase">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>Click. Nothing happens.</p>
    </div>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Transmission Summit - Base</h3>

    <p>An immense transmission tower dominates this mountaintop, its metal struts dark against the sky, its wires stretching down the forested slopes towards identical towers below. All around, sunlight shimmers through autumn leaves. A cage-like <a class="panelOpener" identifier="machine">apparatus</a> rests against one of the larger boulders, inconspicuous.</p>

    <p>A few boulders and smaller stones lie about the base of the tower, letting you climb [[up|transmissionSummitLowerRungs]] onto its lower rungs. Around the hill is a dense circle of undergrowth and tightly-packed trees. There is no path through.</p>
</div>
</snippet>

<snippet name="transmissionSummitLowerRungs" scripts="meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Transmission Summit - Lower Rungs</h3>

    <p>The metal rungs are cool to the touch. Resting on them, you can see the sky: half bright, half darkened with immense storm clouds that rumble to the west. Cumulonimbus whorls of white and gray.</p>

    <p>The air smells fresh, humid, redolent with the earthly tones of forest and rain. Far below are trees and cornfields, the dark line of a river cutting through farmland, gray gravel roads where cars slowly crawl past. They shimmer in the heat, like a mirage. If you look too closely, it might all disappear.</p>

    <p>A <a class="whiteMarker pieceOfPaper" board="67">piece of paper</a> is taped to one of the rungs. It flutters in the wind.</p>

    <p>The rungs are spaced too far apart to properly climb. You can only return [[down|transmissionSummitBase]].</p>
</div>
</snippet>


