#screenBg {
    background-color: #666666;
    background-image: url("assets/1bridge1.png.gif");
    background-position-y: -350px;
}

#markerDiv {
    background-color: #ddd;
    background-image: url("assets/stone.jpg");

    border-color: #000;
    border-style: outset;
    border-width: 3px;
}
#markerDiv * {
    color: #000;
    border-color: #000;
}

#markerDiv button, .markerMessage, #sendBox, #sendBox input, #sendBox textarea {
    background-color: rgba(255, 255, 255, 0.4);

    border-radius: 5px;
    border-style: outset;
    border-width: 2px;
}
#sendBox input, #sendBox textarea {
    background-color: #fff;
}
#markerDiv button:hover {
    background-color: #777;
}