#screenBg {
    background-image: url("assets/baths_of_trajan.gif") !important;
    background-position-y: -150px !important;
    background-position-x: -250px !important;
    background-size: 175% auto !important;
}