#screenBg {
    background-image: url("assets/baths_of_trajan.gif") !important;
    background-position-y: -50px !important;
    background-position-x: -80px !important;
    background-size: 125% auto !important;
}