#screenBg {
    background-color: #27191f;
    background-image: url("assets/1fire.png.gif");
    background-position-y: -300px;
}

#markerDiv {
    border-color: #ffc740;
}
#markerDiv * {
    border-color: #ffc740;
}