#screenBg {
    background-color: #91472d;
    background-image: url("assets/1playcastle.png.gif");
}

#markerDiv {
    background-color: #fff;
    background-image: repeating-linear-gradient(#e7e7e7 0px, #f4f4f4 18px, teal 19px);

    border-color: #000;
    border-style: outset;
    border-width: 3px;
}
#markerDiv * {
    color: #000;
}

#markerDiv button, .markerMessage, #sendBox, #sendBox input, #sendBox textarea, .pageLinkContainer a, .pageLinkContainer li {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
#markerDiv button:hover {
    background-color: #ccc;
}