#screenBg {
    background-color: #b1c0c4;
    background-image: url("assets/1pylon.png.gif");
}

#markerDiv {
    background-color: #fff;
    background-image: repeating-linear-gradient(#e6e6e6 0px, white 24px, #ccc 25px);

    border-color: #000;
    border-style: outset;
    border-width: 3px;
}
#markerDiv * {
    color: #000;
}

#markerDiv button, .markerMessage, #sendBox, #sendBox input, #sendBox textarea {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
#markerDiv button:hover {
    background-color: #ccc;
}