<snippet name="collapsedHall" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Collapsed Hall</h3>

    <p>Mist swirls in this corridor. Small square windows, some shattered, are embedded into the walls at regular intervals. Wind howls through them, disturbing the mist. Outside you can only see white clouds.</p>

    <p>One window is covered by a <a class="whiteMarker marblePlaque" board="0">marble plaque</a>.</p>

    <p>[[East to the Flooded Hall 1|floodedHall1]]</p>

</div>

</snippet>