<snippet name="collapsedHall" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Collapsed Hall</h3>

    <p>Puddles of water cover the floor. Small square windows, some cracked, are embedded into the walls at regular intervals. Wind howls through them, disturbing the mist. Outside you see white clouds tinged with a faint blue glow, refracted from the blue stone beneath you.</p>

    <p>One window is covered by a <a class="whiteMarker marblePlaque" board="0">marble plaque</a>.</p>

    <p>The hall runs [[north|pit]] and [[south|floodedHallNorth]].</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(1);
%>

</snippet>