<snippet name="floodedHall2" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Flooded Hall 2</h3>

    <p>This hall is flooded with a low layer of water, and more pours down from the ceiling. On the walls, luminescent fungi cast a rippling blue glow. Mushrooms sprout all around you, and a <a class="whiteMarker" board="2">white marker</a> sits nestled among them.</p>

    <p>[[West to the Flooded Hall 1|floodedHall1]]</p>
</div>
</snippet>