<snippet name="floodedHallSouth" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Flooded Hall - South</h3>

    <p>The water falls with more ferocity, here. A miniature rainstorm contained in this one room. At the end of the hall is a sheer curtain of water, a waterfall crashing down with a deafening roar. The <a class="whiteMarker marblePlaque" board="12">plaque</a> is concealed behind the waterfall.</p>

    <p>The hall continues to the [[north|floodedHallIntersection]].</p>
</div>
</snippet>