<snippet name="floodedHallIntersection" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Flooded Hall - Intersection</h3>

    <p>Water pours through holes in the ceiling, dripping down white flowers and white vines, pattering onto stone, flowing through long-worn crevices, before falling away through small cracks and holes threading through the floor. A <a class="whiteMarker marblePlaque" board="1">marble plaque</a> sits half-covered in vines.</p>

    <p>The hall runs [[north|floodedHallNorth]] and [[south|floodedHallSouth]]. To the [[northeast|hallOfStatues]], steps ascend to a corridor that looks to be in slightly better shape. A misty hallway intersects with this one to the [[west|overgrownHallEast]].</p>
</div>

</snippet>