<snippet name="floodedHallNorth" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Flooded Hall - North</h3>

    <p>This section of the hall is flooded with a low layer of water, and more pours from the ceiling. On the walls, luminescent fungi cast a rippling blue glow. Mushrooms sprout all around you, and a <a class="whiteMarker marblePlaque" board="2">marble plaque</a> sits nestled among them.</p>

    <p>The hall runs [[north|collapsedHall]] and [[south|floodedHallIntersection]].</p>
</div>
</snippet>