<snippet name="greenhouseEntrance" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Greenhouse - Entrance</h3>

    <p>This might have been a normal greenhouse once, but all the plants are covered by a thin layer of white fuzz. Their original colors can barely be discerned beneath the growth. White flowers sprout from other flowers, from the ceiling, from the walls. White vines lash together, stretching between plants and trees, like cobwebs. Unlike cobwebs, you can walk through them, feeling only a vague humidity as they dissolve at your touch and reform behind you.</p>

    <p>A <a class="whiteMarker marblePlaque" board="19">marble plaque</a> is nestled in the center of one flower, now overgrown with fuzz. The light here is a soft blue. From somewhere plays the distant trickle of water.</p>

    <p>A stone archway to the [[northeast|overgrownHallGraveyard]] leads to an overgrown hall. A path runs [[north|greenhouseNorth]] and [[south|greenhouseFountain]].</p>
</div>
</snippet>