<snippet name="greenhouseNorth" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Greenhouse - North</h3>

    <p>Wind whistles through holes in the waterlogged ceiling. White flowers carpet the floor, curling their vines towards you. Their texture is the same as the other flowers - strangely soft, as if made of mist. You wave you hand through them and they disperse, then reform. You cannot take them.</p>

    <p>The path is too choked by vines here for you to continue. There is no way to go but back [[south|greenhouseEntrance]].</p>
</div>
</snippet>