<snippet name="greenhouseFountain" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Greenhouse - Fountain</h3>

    <p>A stone fountain, covered in white flowers, plays merrily in the center of this little plaza. Five benches surround it. On one sits a gleaming <a class="whiteMarker marblePlaque" board="20">marble plaque</a>. Crumpled robots lie in the white foliage, obscured mostly by white leaves.</p>

    <p>The path is too choked by vines here for you to continue. There is no way to go but back [[north|greenhouseEntrance]].</p>
</div>
</snippet>