<snippet name="overgrownHallEast" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Overgrown Hall - East</h3>

    <p>A mass of flowers hang from the ceiling of this corridor, pure white against the blue-black stone. White vines twine in and out of the walls. Everywhere is white mist or foliage, constantly dispersing and swirling together. You can't tell the difference between the two.</p>

    <p>The hall runs to the [[east|floodedHallIntersection]], where you hear the sound of running water, and the [[west|overgrownHallWest]]. A stone door stands open to the [[south|overgrownPillar]].</p>
</div>
</snippet>