<snippet name="overgrownCrates" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Overgrown Storage</h3>

    <p>Scattered here and there are metallic crates. Most are overgrown with twisting white vines that disperse at your touch, and reform once you withdraw from them. A <a class="whiteMarker marblePlaque" board="17">marble plaque</a> has been nailed onto one of the crates.</p>

    <p>To the [[south|overgrownHallWest]], a rusty door leads to an overgrown hallway.</p>
</div>
</snippet>