<snippet name="overgrownHallGraveyard" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Overgrown Hall - Graveyard</h3>

    <p>The crumpled bodies of robots lie here, overgrown with white flowers. A <a class="whiteMarker marblePlaque" board="18">marble plaque</a> floats above one of the larger broken robots: a dismembered android, its one remaining eye encircled by white vines. Vines grow everywhere, twining into the old machines, sprouting from the cracks.</p>

    <p>A stone archway to the [[southwest|greenhouseEntrance]] opens into a larger chamber. The hallway continues to the [[east|overgrownHallWest]].</p>
</div>
</snippet>