<snippet name="overgrownHallWest" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Overgrown Hall - West</h3>

    <p>This section of the hall is piled with broken machinery: cracked glass bulbs and rusty pipes and buttons of all sorts. Enormous white flowers shine on the ceiling, the walls. Their vines have snaked into every crevice of these old machines. Lights still blink on and off on some, flashing red and green indicators, but no alarm sounds. They are beyond repair.</p>

    <p>A <a class="whiteMarker marblePlaque" board="16">marble plaque</a> is set into a wall.</p>

    <p>The hall runs to the [[east|overgrownHallEast]] and [[west|overgrownHallGraveyard]]. A rusty door swings to the [[north|overgrownCrates]].</p>
</div>
</snippet>