<snippet name="statueTowerStairwell" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Statue Tower - Stairwell</h3>

    <p>This spiral staircase winds [[up|statueTowerSummit]] and [[down|hallOfStatues]] a tall stairwell. Water drips from some secret place as you climb. Statues protrude from alcoves in the walls, their forms weathered and overgrown by white vines. </p>
</div>
</snippet>