<snippet name="statueTowerSummit" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Statue Tower - Summit</h3>

    <p>The stone door at the top of the stairwell leads to a flat, circular roof. No parapet keeps you from jumping. Beyond is only mist, pierced through by some flickering florescence that radiates blue light onto the stone. A <a class="whiteMarker marblePlaque" board="14">marble plaque</a> stands guard by the edge.</p>

    <p>The stairs lead [[down|statueTowerStairwell]].</p>
</div>
</snippet>