<snippet name="credits">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <p>[[Main Menu|begin]]</p>

    <h4>Sound and Music</h4>

    <p>Sounds not listed below are in the public domain. All sounds and music listed were pitched down or otherwise edited. Versions used in-game aren't the originals.</p>

    <p>Main Menu</p>
    <ul>
        <li><a href="https://blearmoon.bandcamp.com/track/bar-tel-aviv">Crumbling Castle, by King Gizzard and the Lizard Wizard</a> (public domain)</li>
    </ul>

    <p>Dorm Area</p>
    <ul>
        <li><a href="https://blearmoon.bandcamp.com/track/out-of-bounds">Out of Bounds, by Serat (Blear Moon)</a> (<a href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
        <li><a href="https://freesound.org/people/oliwoli/sounds/666295/">Room Tone - Hotel Bathroom with Buzzing Light and Vent, by oliwoli</a> (<a href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
        <li><a href="https://freesound.org/people/JonathanTremblay/sounds/254783/">Buzzing Light, by JonathanTremblay</a> (<a href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Greenhouse Area</p>
    <ul>
        <!-- <li><a href="https://creatorchords.com/music/54f9c7e7-022d-4e9b-96a5-46b4783a6fdc/">Roaming Two, by Alexander Nakarada</a> (<a href="https://creatorchords.com">www.creatorchords.com</a>) (<a href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li> -->
        <li><a href="https://soundcloud.com/skrotraff/bubble">Bubble, by Skrotraff</a> (<a href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
        <li><a href="https://freesound.org/people/TaXMaNFoReVeR/sounds/325426/">sound</a></li>
    </ul>

    <p>Drowned Area</p>
    <ul>
        <li><a href="https://blearmoon.bandcamp.com/track/symphony-of-stones">Symphony of Stones, by Serat (Blear Moon)</a> (<a href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Amber Area</p>
    <ul>
        <li><a href="https://soundcloud.com/skrotraff/blessed-are-the-hearts-that-can-bend">Blessed Are The Hearts That Can Bend, by Skrotraff</a> (<a href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Sky Area</p>
    <ul>
        <li><a href="https://freesound.org/people/TaXMaNFoReVeR/sounds/325426/">Outdoor Nighttime Ambience, by TaXMaNFoReVeR</a> (<a href="http://creativecommons.org/licenses/by-nc/3.0/">license</a>)</li>
        <li>Piano sample by <a href="https://freesound.org/people/josefpres/">josefpres</a> (public domain)</li>
    </ul>

    <br/>
    <p>[[Main Menu|begin]]</p>
</div>

</snippet>