<snippet name="credits" scripts="../meta/addWrapperHtml.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <p>[[Main Menu|start]]</p>
    <br/>

    <h4>Music</h4>
    <p>DORM AREA</p>
    <ul>
        <li><a href="https://blearmoon.bandcamp.com/track/bar-tel-aviv">Bar Tel Aviv, by Serat (Blear Moon)</a> (<a href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <br/>
    <p>[[Main Menu|start]]</p>
</div>

</snippet>