<snippet name="firstScreen" tags="transition" start>

<!-- This snippet exists solely so browser anti-autoplay features don't
prevent the music on the title menu from working.

Happened a lot and really bugged me. -->

<h2>LOADING...</h2>

<h2>[[ENTER GRAVEYARD?|begin]]</h2>

</snippet>