<snippet name="firstScreen" tags="transition firstScreen">

<!-- This snippet exists solely so browser anti-autoplay features don't
prevent the music on the title menu from working.

Happened a lot and really bugged me. -->

<div style="text-align: center;">
    <img src="assets/door.gif" alt="THE DOOR IS ETCHING ITSELF INTO CYBERSPACE"
    style="border-image: url('assets/black1.gif'); border-color: #222; border-image-slice: 9; border-width: 10px; border-image-repeat: repeat; padding: 10px; border-style: solid;">
    <h2>[[ENTER?|begin]]</h2>
</div>

</snippet>