<snippet name="imageCredits" tags="menu">

<div class="absoluteAlign blackBg bothHalves">
    <p>[[Return to Main Menu|begin]]</p>

    <h3>Image Credits</h3>

    <p>Images not listed below are in the public domain. All images have been modified. No AI art was used.</p>

    <p>Used a <a href="https://github.com/kadw108/Image-Converter">personal image converter program</a> for image editing and glitch effects. Special thanks to <a href="https://github.com/TotallyNotChase/glitch-this">TotallyNotChase's glitch-this library</a>.</p>

    <br><br>

    <p>Main Menu</p>
    <ul>
        <li><a class="outsideLink" href="https://tenor.com/view/guns-of-glory-fast-castle-levels-guns-of-gif-19379292">Guns of Glory Fast Sticker, by xx23Richard23Xx</a> (No license provided. Will remove upon request)</li>
    </ul>

    <p>Dorm Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Test_tubes_in_a_laboratory.jpg">Test tubes in a laboratory, by Sarka Na Kopci</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
    </ul>

    <p>Greenhouse Area</p>
    <ul>
        <li><a class="outsideLink" href="https://old.reddit.com/r/AbandonedPorn/comments/xssuvy/the_ruins_of_a_medieval_church_on_the_grounds_of/">The ruins of a medieval church on the grounds of Kilkea Castle, Kildare, Ireland., by I_am_person6969</a> (No license provided. Will remove upon request)</li>
        <li><a class="outsideLink" href="https://artvee.com/dl/ruins-of-the-oybin-monastery-in-winter/">Ruins of the Oybin Monastery in Winter (c. 1830) by Karl Heinrich Beichling</a> (public domain)</li>
    </ul>

    <p>Sunken Area</p>
    <ul>
        <li>Message background from <a class="outsideLink" href="https://heropatterns.com/">https://heropatterns.com/</a></li>
        <!-- <li><a class="outsideLink" href="https://www.elephantstock.com/products/coral-texture">Coral Texture (unknown creator)</a> (No license provided. Will remove upon request)</li> -->
    </ul>

    <p>Hidden Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Night_sky_from_Hyatt_Lake_-_50040002523.jpg">Night Sky from Hyatt Lake, by BLM Oregon & Washington</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/2.0/">license</a>)</li>
    </ul>

    <p>Steam Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:D%C3%BClmen,_Heilig-Kreuz-Kirche,_Uhrwerk_--_2018_--_1372.jpg">Dülmen, Heilig-Kreuz-Kirche, Uhrwerk, by Dietmar Rabich</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
    </ul>

    <p>Dungeon Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:BlarneyCastle5.jpg">Blarney Castle 5, by Thesteve</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Parchment.00.jpg">Parchment, by calebkimbrough</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/2.0/deed.en">license</a>)</li>
    </ul>

    <p>Transmission Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Pylon_-_geograph.org.uk_-_269812.jpg">Pylon, by Nikki Mahadevan</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/2.0/">license</a>)</li>
        <!--<li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Cemeteries_and_Pylons_at_Daluntou_Mountain,_Neihu_District_20120902.jpg">Cemeteries and Pylons by 玄史生</a> (public domain)</li>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Pylon_and_Face_-_%E9%89%84%E5%A1%94%E3%81%A8%E6%82%AA%E5%9F%8E%E3%81%AE%E5%A3%81_-_Flickr_-_kayakaya.jpg">Pylon and Face by Satoshi KAYA</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/2.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Short_Hike_(4)_(20256557498).jpg">Short Hike (4) by Nicholas A. Tonelli</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/2.0/">license</a>)</li> -->
    </ul>

    <p>Playcastle Area</p>
    <ul>
        <!-- copyleft https://commons.wikimedia.org/wiki/File:Happy-planet-3ma.jpg -->
        <li><a class="outsideLink" href="https://creativecommons.org/licenses/by/2.0/">Steampunk Playground, by Brida Anderson</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/2.0/">license</a>)</li>
    </ul>

    <p>Sky Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Sunlit_ferns_over_stream.jpg">Sunlit ferns over stream, by Sudzie</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
    </ul>

    <p>Familiar Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Backrooms_model.jpg">Backrooms model, by Huuxloc</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
    </ul>

    <p>Cell Area</p>
    <ul>
        <li><a class="outsideLink" href="https://www.flickr.com/photos/92755733@N00/5970051489">Manfield Prison Tiers of cells, by J. Todd Poling</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/2.0/">license</a>)</li>
        <!-- https://commons.wikimedia.org/wiki/File:02021_0867_Prison_cell_in_Poland,_before_1939.jpg -->
    </ul>

    <p>Bridge Area</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Bridge_in_fog_-_geograph.org.uk_-_4753523.jpg">Bridge in fog, by N Chadwick</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/2.0/">license</a>)</li>
        <!-- https://commons.wikimedia.org/wiki/File:Philadelphia_through_cloud_and_fog_(508361705).jpg -->
    </ul>

    <br/>
    <p>[[Return to Main Menu|begin]]</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(3);
%>

</snippet>