<snippet name="imageCredits" tags="menu">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <p>[[Return to Main Menu|begin]]</p>

    <h4>Image Credits</h4>

    <p>Images not listed below are in the public domain.</p>

    <p>Main Menu</p>
    <ul>
    </ul>

    <p>Dorm Area</p>
    <ul>
        https://commons.wikimedia.org/wiki/File:Test_tubes_in_a_laboratory.jpg
    </ul>

    <p>Greenhouse Area</p>
    <ul>
        https://commons.wikimedia.org/wiki/File:Abandoned_greenhouse_at_Kolibki_Park_in_Gdynia,_Poland.jpg
        https://old.reddit.com/r/AbandonedPorn/comments/xssuvy/the_ruins_of_a_medieval_church_on_the_grounds_of/
        https://old.reddit.com/r/AbandonedPorn/comments/htwyr3/greenhouse_oc/
    </ul>

    <p>Drowned Area</p>
    <ul>
        https://commons.wikimedia.org/wiki/File:Laminaria_kelp_on_top_of_the_pinnacle_at_13th_Apostle_PA031640.JPG
    </ul>

    <p>Hidden Area</p>
    <ul>
        https://commons.wikimedia.org/wiki/File:Night_sky_from_Hyatt_Lake_-_50040002523.jpg

    </ul>

    <p>Steam Area</p>
    <ul>
        https://commons.wikimedia.org/wiki/File:D%C3%BClmen,_Heilig-Kreuz-Kirche,_Uhrwerk_--_2018_--_1372.jpg
    </ul>

    <p>Dungeon Area</p>
    <ul>
    </ul>

    <p>Transmission Area</p>
    <ul>
        <li><a href="https://commons.wikimedia.org/wiki/File:Pylon_-_geograph.org.uk_-_269812.jpg">Pylon by Nikki Mahadevan</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/">license</a>)</li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Cemeteries_and_Pylons_at_Daluntou_Mountain,_Neihu_District_20120902.jpg">Cemeteries and Pylons by 玄史生</a> (public domain)</li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Pylon_and_Face_-_%E9%89%84%E5%A1%94%E3%81%A8%E6%82%AA%E5%9F%8E%E3%81%AE%E5%A3%81_-_Flickr_-_kayakaya.jpg">Pylon and Face by Satoshi KAYA</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/">license</a>)</li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Short_Hike_(4)_(20256557498).jpg">Short Hike (4) by Nicholas A. Tonelli</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/">license</a>)</li>
    </ul>

    <p>Fiery Area</p>
    <ul>
        public domain
        https://commons.wikimedia.org/wiki/File:Pele_by_D._Howard_Hitchcock_(ca.1927-1929).png, https://commons.wikimedia.org/wiki/File:%27Untitled%27_by_Charles_Furneaux,_1888,_Honolulu_Museum_of_Art_2013-30-01.JPG
    </ul>

    <p>Playcastle Area</p>
    <ul>
        copyleft https://commons.wikimedia.org/wiki/File:Happy-planet-3ma.jpg
        https://www.flickr.com/photos/34867596@N07/3560140133
    </ul>

    <p>Sky Area</p>
    <ul>
        public domain https://commons.wikimedia.org/wiki/File:Ferns_Algonquin.jpg
        https://commons.wikimedia.org/wiki/File:Sunlit_ferns_over_stream.jpg
    </ul>

    <p>Bedroom Area</p>
    <ul>
    </ul>

    <p>Familiar Area</p>
    <ul>
        <li><a href="https://commons.wikimedia.org/wiki/File:Backrooms_model.jpg">Backrooms model by Huuxloc</a> (<a href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
    </ul>

    <p>Cell Area</p>
    <ul>
        https://www.flickr.com/photos/92755733@N00/5970051489, https://commons.wikimedia.org/wiki/File:02021_0867_Prison_cell_in_Poland,_before_1939.jpg
    </ul>

    <p>Bridge Area</p>
    <ul>
        https://commons.wikimedia.org/wiki/File:Bridge_in_fog_-_geograph.org.uk_-_4753523.jpg, https://commons.wikimedia.org/wiki/File:Philadelphia_through_cloud_and_fog_(508361705).jpg

    </ul>

    <p>Glitch Areas</p>
    <ul>
    </ul>

    <br/>
    <p>[[Return to Main Menu|begin]]</p>
</div>

</snippet>