<snippet name="musicCredits" tags="menu">

<div class="absoluteAlign blackBg bothHalves">
    <p>[[Return to Main Menu|begin]]</p>

    <h3>Sound and Music Credits</h3>

    <p>Sounds not listed below are in the public domain. All the non public-domain sounds and music listed below were pitched down or otherwise edited.</p>

    <br><br>

    <p>Dorm Area</p>
    <ul>
        <li><a class="outsideLink" href="https://blearmoon.bandcamp.com/track/out-of-bounds">Out of Bounds, by Serat (Blear Moon)</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://freesound.org/people/oliwoli/sounds/666295/">Room Tone - Hotel Bathroom with Buzzing Light and Vent, by oliwoli</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://freesound.org/people/JonathanTremblay/sounds/254783/">Buzzing Light, by JonathanTremblay</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Greenhouse Area</p>
    <ul>
        <!-- <li><a class="outsideLink" href="https://creatorchords.com/music/54f9c7e7-022d-4e9b-96a5-46b4783a6fdc/">Roaming Two, by Alexander Nakarada</a> (<a class="outsideLink" href="https://creatorchords.com">www.creatorchords.com</a>) (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li> -->
        <li><a class="outsideLink" href="https://soundcloud.com/skrotraff/bubble">Bubble, by Skrotraff</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Drowned Area</p>
    <ul>
        <li><a class="outsideLink" href="https://blearmoon.bandcamp.com/track/symphony-of-stones">Symphony of Stones, by Serat (Blear Moon)</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Hidden Area</p>
    <ul>
        <li><a class="outsideLink" href="https://www.youtube.com/watch?v=Svr6yk60e30">Uralia 2, by Daniel Simmons (Glitch MMO OST)</a> (<a class="outsideLink" href="https://www.glitchthegame.com/">public domain</a>)</li>
    </ul>

    <p>Steam Area</p>
    <ul>
        <li><a class="outsideLink" href="https://soundcloud.com/skrotraff/blessed-are-the-hearts-that-can-bend">Blessed Are The Hearts That Can Bend, by Skrotraff</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Dungeon Area</p>
    <ul>
        <li><a class="outsideLink" href="https://www.youtube.com/watch?v=6pOZSHvMB-c">Abandoned Building Puzzles, by Daniel Simmons (Glitch MMO OST)</a> (<a class="outsideLink" href="https://www.glitchthegame.com/">public domain</a>)</li>
    </ul>

    <p>Transmission Area</p>
    <ul>
        <li><a class="outsideLink" href="https://www.freesoundslibrary.com/birds-noises/">Birds Noises, by Spanac</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://soundcloud.com/onlyinlapland/only-in-lapland-lapland-sound-collection-gusts-of-wind-through-birch-trees-forest">Gusts of Wind Through Birch Trees, Forest, by Only in Lapland</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://freesound.org/people/TaXMaNFoReVeR/sounds/325426/">Outdoor Nighttime Ambience, by TaXMaNFoReVeR</a> (<a class="outsideLink" href="http://creativecommons.org/licenses/by-nc/3.0/">license</a>)</li>
    </ul>

    <p>Fiery Area</p>
    <ul>
        <li><a class="outsideLink" href="https://skrotraff.bandcamp.com/track/re-cycles">RE:cycles, by Skrotraff</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://www.freesoundslibrary.com/burning-fire-sound-effect/">Burning Fire Sound Effect, by Spanac</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://www.freesoundslibrary.com/deep-volcano-sound-effect/">Deep Volcano Sound Effect, by Spanac</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://www.freesoundslibrary.com/milk-boiling-sound-effect/">Milk Boiling Sound Effect, by Spanac</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
    </ul>

    <p>Playcastle Area</p>
    <ul>
        <li><a class="outsideLink" href="https://blearmoon.bandcamp.com/track/le-banc-dans-le-bois">Le banc dans le bois, by Blear Moon</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by-nc/3.0/">license</a>)</li>
    </ul>

    <p>Sky Area</p>
    <ul>
        <li><a class="outsideLink" href="https://freesound.org/people/TaXMaNFoReVeR/sounds/325426/">Outdoor Nighttime Ambience, by TaXMaNFoReVeR</a> (<a class="outsideLink" href="http://creativecommons.org/licenses/by-nc/3.0/">license</a>)</li>
        <li>Piano sample by <a class="outsideLink" href="https://freesound.org/people/josefpres/">josefpres</a> (public domain)</li>
    </ul>

    <p>Bedroom Area</p>
    <ul>
        <li><a class="outsideLink" href="https://www.youtube.com/watch?v=IT8WDj7mA3o">Winter Holiday, by Daniel Simmons (Glitch MMO OST)</a> (<a class="outsideLink" href="https://www.glitchthegame.com/">public domain</a>)</li>
    </ul>

    <p>Familiar Area</p>
    <ul>
        <li><a class="outsideLink" href="https://freesound.org/people/oliwoli/sounds/666295/">Room Tone - Hotel Bathroom with Buzzing Light and Vent, by oliwoli</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
        <li><a class="outsideLink" href="https://freesound.org/people/JonathanTremblay/sounds/254783/">Buzzing Light, by JonathanTremblay</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Cell Area</p>
    <ul>
        <li><a class="outsideLink" href="https://www.youtube.com/watch?v=vOx83F3AYGg">Dirge of the Damned, by Daniel Simmons (Glitch MMO OST)</a> (<a class="outsideLink" href="https://www.glitchthegame.com/">public domain</a>)</li>
    </ul>

    <p>Bridge Area</p>
    <ul>
        <li><a class="outsideLink" href="https://www.youtube.com/watch?v=tf7-DIYcWxY">Winter 3.2, by Daniel Simmons (Glitch MMO OST)</a> (<a class="outsideLink" href="https://www.glitchthegame.com/">public domain</a>)</li>
        <li><a class="outsideLink" href="https://soundcloud.com/onlyinlapland/only-in-lapland-lapland-sound-collection-gusts-of-wind-through-birch-trees-forest">Gusts of Wind Through Birch Trees, Forest, by Only in Lapland</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <p>Glitch Areas</p>
    <ul>
        <li><a class="outsideLink" href="https://blearmoon.bandcamp.com/track/jump-into-art">Jump Into Art, by Serat (Blear Moon)</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
    </ul>

    <br/>
    <p>[[Return to Main Menu|begin]]</p>
</div>
</snippet>