<snippet name="notes" tags="menu">
  <div class="absoluteAlign topHalf"></div>
  <div class="absoluteAlign bottomHalf blackBg">
    <p>[[Return to Main Menu|begin]]</p>

    <small><a class="linkReplaced removedOnClick" identifier="contentNotes">Click for content notes.</a><span class="linkReplacer hidden" identifier="contentNotes"> Suicide, unreality, strong language, anything else you might find on anonymous messageboards online.</span></small>

    <h4>About</h4>

    <p>This game lets you communicate with other players. In many places, you can leave anonymous messages for people to see.</p>

    <p>The game has at least 20k words (counting pre-written messages). Estimate it'd take two hours to see most content, but feel free to duck in for a few minutes and then leave. Ideally the landscape will change over time as more messages pop out, so you can check back regularly for new stuff. Assuming nothing breaks.</p>

    <p>The game doesn&#39;t really have an ending. If you want, you can consider exploring every room and messageboard in the game to be the ending. There&#39;s a few secrets hidden here and there. A list of all the teleport codes is included near the end of this page, if you don't feel like figuring things out yourself.</p>

    <h4>The Message System</h4>
    <p>Most experimential part of the game. Don't know for sure how the servers will do, so there may be bugs. If you can't see/send messages, the game is broken.</p>

    <p>Generally, say whatever you want as long as it&#39;s not hate speech or illegal. Leave as many messages as you want. I'll delete truly horrible messages, but remain hands-off for the most part. Go ham.</p>

    <h4>Making Of</h4>
    <p>
      Made for
      <a href="https://itch.io/jam/shufflecomp-2023">Shufflecomp 2023/2024</a>
      in slightly less than three weeks. Used another project as a template from my other projects, so it wasn&#39;t entirely made from scratch in three weeks, but most of it was. (You can probably guess how I spent my holiday season.) Used zehanort&#39;s
      <a href="https://github.com/zehanort/iffinity">iffinity</a>, something like Twine but more involved on the coding side.
    </p>
    <p>
      In Shufflecomp you submit eight songs and are given eight songs from eight other randomly selected participants, then make a game based on at least one of the songs. I used
      <a href="https://youtu.be/qrP5IClb6b8">Bad Moon Rising</a>, a song about the apocalypse, and <a href="https://www.youtube.com/watch?v=uLP8rFrL1W0">Crumbling Castle</a>, a song about hiding in a crumbling castle during the apocalypse. Evidently I am a fan of the apocalypse. There&#39;s a few references to other songs I got, but mostly it's those two.
    </p>

    <h6><a class="linkReplaced" identifier="elaboration">The full list of Shufflecomp songs I received, and usage notes. Contains spoilers.</a></h6>
    <div class="linkReplacer hidden" identifier="elaboration">
      <ul>
        <li><a href="https://youtu.be/qrP5IClb6b8">Bad Moon Rising - Creedence Clearwater Revival</a>: The game involves a network of dead worlds connected to each other. Some of the message-senders who came before you are from an alternate Earth (or Earths) where the world has ended.</li>

        <li><a href="https://www.youtube.com/watch?v=uLP8rFrL1W0">King Gizzard and the Lizard Wizard - Crumbling Castle</a> - Multiple castles in this game, from the name of the in-story game to some of the areas you can visit. The general concept of hiding in a bunker playing video games while the world ends outside. The song is used on the game&#39;s title screen, but only because it happens to be public domain, so that probably shouldn&#39;t count.</li>

        <li><a href="https://www.youtube.com/watch?v=bJeG-GGH114">Akbar - Jeffrey Dallas</a> - There is a corn. There is a character who befriends the corn. For a certain definition of befriend. Unlike in the song, the corn survives this one.</li>

        <li><a href="https://www.youtube.com/watch?v=9ug1nNkm97o">No More Hot Dogs by Hasil Adkins</a> - Would have added more hot dog references if I could. Hope there are enough murder references to satisfy fans of this song.</li>

        <li><a href="https://confidencemantm.bandcamp.com/track/c-o-o-l-party">Confidence Man - C.O.O.L Party</a> - One character is obsessed with parties. Does it count?</li>

        <li><a href="https://www.youtube.com/watch?v=Obox1Jwn6UA">Body of Desire - October</a> - As far as a general lack of motivation to live goes, examples aren't difficult to find here. Found it hard to include more specific references.</li>

        <li><a href="https://ladytron.bandcamp.com/track/destroy-everything-you-touch-2">Destroy Everything You Touch - Ladytron</a> and <a href="https://youtu.be/Ty_wKbvYo-s?si=2IjIFaHWmojICi0g">Wake Up - Sion, SOULBYSEL</a> Had a hard time incorporating these two. A few messages might be references if you squint.</li>
      </ul>
    </div>

    <h4>Inspiration</h4>
    <ul>
      <li>
        <a href="https://mateuszskutnik.itch.io/submachine-universe">Submachine Universe</a>, from which many direct concepts were stolen. To wit: exploring a network of teleporters scattered across abandoned and broken places, with no signs of life except cryptic messages left by travelers you can't see. You also need to enter numbers to access different teleporters. Never beat this game, but there's a neat
        <a href="https://www.youtube.com/watch?v=zoSl2gd8i3s">100% speedrun</a>.
      </li>
      <li><a href="https://www.thiswebsitewillselfdestruct.com/">This Website Will Self-destruct</a>, a website where you can write anonymous messages and view anonymous messages sent by others. If it goes 24 hours without getting a message, it deletes everything. Hasn't happened as of writing this.</li>
      <li>
        Lots of music taken from
        <a href="https://www.glitchthegame.com/">Glitch</a>, a now-dead MMO I played years ago.
      </li>
      <li><a href="http://www.ifmud.org/">ifMUD</a>, a text-based virtual world (<a href="https://en.wikipedia.org/wiki/Multi-user_dungeon">MUD</a>) where you can hang out with interactive fiction fans. <del>Come join!</del> Boasts a multitude of unusual rooms added by various users over the years. Took inspiration for the dorm area from here.</li>
      <li><a href="https://thebeginnersgui.de/">The Beginner's Guide</a>, specifically the <a href="https://the-beginners-guide.fandom.com/wiki/Notes">Notes game</a> where you walk through a 3D environment full of notes left by other people. You soon learn that every note was actually left by the developer, a single person masquerading as a whole world of players. The Beginner's Guide is great and I highly recommend it (even if you don't buy it, go watch a playthrough on Youtube like I did, there's a million of them).</li>
    </ul>

    <h6>Various areas were inspired by/stolen from other places:</h6>
    <p><a class="linkReplaced" identifier="placeInspirations">Spoilers. Click to view.</a></p>
    <ul class="linkReplacer hidden" identifier="placeInspirations">
      <li>
        I put the
        <a href="https://www.youtube.com/watch?v=H4dGpz6cnHo">Backrooms</a> in this game. Because I could. The playground area is a ripoff of liminal playground concepts too, including &quot;Level FUN&quot;. It's also heavily inspired by "<a href="https://www.youtube.com/watch?v=P8U22dvli4w">PLAYGROUND - trailer</a>", an incredible trailer for a (currently still in development) animated horror series set in a seemingly neverending playground. Seriously go watch it, it's very cool.
      </li>
      <li>
        The pine grove area is heavily inspired by the outskirts of Redacre, from The Blackout Club. Specifically the
        <a href="https://www.youtube.com/watch?v=ZEJGw1oWUsI">end-of-prologue area.</a>
        Interesting game where the devs could hijack NPC interactions and talk directly to the players, leading to a lot of fun dialogue.
      </li>
      <li>
        Greenhouse is a ripoff of
        <a href="https://www.youtube.com/watch?v=QHg_gqZ03o8">Greenhouse from Undertale Yellow</a>.
      </li>
    </ul>

    <h4>Full List of Node Teleport Codes</h4>
    <p><a class="linkReplaced" identifier="teleportList">Obvious spoilers. Click to view.</a></p>
    <div class="linkReplacer hidden" identifier="teleportList">
      <ul>
        <li>19283 - Greenhouse - Within Flower</li>
        <li>9272 - Maintenance Tunnel X - End</li>
        <li>666 - Ocean of Fire</li>
        <li>8108 - Drowned Apparatus</li>
        <li>1911 - Nexus Dome</li>
        <li>810 - Dungeon</li>
        <li>340 - Transmission Tower</li>
        <li>152 - Hidden Grove</li>
        <li>67 - Caterpillar&#39;s Stomach</li>
        <li>81818181 - Sky Grove</li>
        <li>416 - Bedroom</li>
        <li>2024 - Familiar Place</li>
        <li>124 - Cell</li>
        <li>9999999999 (ten nines) - Bridge - Sky Island</li>
      </ul>

      <p>Some special numbers also lead to small glitch areas. They aren't important and only exist for fun. The numbers are:</p>
      <ul>
        <li>1</li>
        <li>13</li>
        <li>42</li>
        <li>69</li>
        <li>420</li>
      </ul>
    </div>

    <br />
    <p>[[Return to Main Menu|begin]]</p>
  </div>
</snippet>
