<snippet name="notes" tags="menu">
  <div class="absoluteAlign topHalf"></div>
  <div class="absoluteAlign bottomHalf blackBg">
    <p>[[Return to Main Menu|begin]]</p>

    <p>
      <a class="linkReplaced removedOnClick" identifier="contentNotes">Click for content notes.</a><span class="linkReplacer hidden" identifier="contentNotes"> Suicide, unreality, strong language, anything you might find on anonymous messageboards online. Could be a lot of things.</span>
    </p>
    <h4>About</h4>
    <p>
      This game lets you communicate with other players. In many places, you can
      leave anonymous messages for people to see.
    </p>
    <p>
      The game doesn&#39;t really have an ending. If you want, you can consider
      exploring every room and messageboard in the game to be the ending.
      There&#39;s a few secrets hidden here and there. A list of all the teleport codes is included near the end of this page, if you don't feel like figuring things out yourself.
    </p>
    <p>
      The game has at least 20k words (counting pre-written messages). I estimate it&#39;d take 30-60 min to see
      most content, but feel free to duck in for a few minutes and then leave.
      Ideally the landscape will change over time as more messages pop out, so
      you can check back regularly for new stuff. Assuming nothing breaks.
    </p>

    <h4>The Message System</h4>
    <p>
      It&#39;s the most experimential part of the game. I don't know for sure how the servers will do, so there may be bugs. If you can't see or send messages, the game is broken and you should play it after
      it&#39;s fixed.</p>

    <p>If this goes badly, I may shut off the message-writing component. Might do it eventually anyway, if it gets to be too much to maintain. So there's a time limit here.</p>

    <p>
      For the most part, you can say whatever you want as long as it&#39;s not
      hate speech or illegal. I&#39;ll delete truly horrible messages, but will
      try to be hands-off for the most part. Go ham.
    </p>

    <h4>Making Of</h4>
    <p>
      Made for
      <a href="https://itch.io/jam/shufflecomp-2023">Shufflecomp 2023/2024</a>
      in slightly less than three weeks. I used another project as a template
      from my other projects, so it wasn&#39;t entirely made from scratch in
      three weeks, but most of it was. (You can probably guess what I&#39;ve
      been doing with my holiday season.) I used zehanort&#39;s
      <a href="https://github.com/zehanort/iffinity">iffinity</a>, something
      like Twine but more involved on the coding side.
    </p>
    <p>
      The idea behind Shufflecomp is you&#39;re given eight songs from eight
      other randomly selected participants, and then have to make a game based
      on at least one of the songs. I based this game mostly on
      <a href="https://youtu.be/qrP5IClb6b8">Bad Moon Rising</a>, a song about
      the apocalypse, and
      <a href="https://www.youtube.com/watch?v=uLP8rFrL1W0">Crumbling Castle</a
      >, a song about hiding in a crumbling castle during the apocalypse. What
      can I say, I like the apocalypse. There&#39;s a few tiny references to the
      other songs I got, but it&#39;s mostly those two.
    </p>

    <p><a class="linkReplaced" identifier="elaboration">Elaboration (contains spoilers).</a></p>
    <div class="linkReplacer hidden" identifier="elaboration">
        <ul>
        <li>
            Bad Moon Rising: A network of dead worlds connected to each other, and
            some of the game&#39;s players are from an alternate Earth where
            things have gone very poorly for humanity.
        </li>
        <li>
            Crumbling Castle: Multiple castles here, from the name of the game to
            some of the areas you can visit. Also the general concept of hiding in
            a bunker playing video games while the world ends outside. The song
            also gets used on the game&#39;s title screen, but I only got away
            with that because it happens to be public domain, so that probably
            shouldn&#39;t count.
        </li>
        </ul>
    </div>

    <h4>Inspiration</h4>
    <ul>
      <li>
        <a href="https://mateuszskutnik.itch.io/submachine-universe"
          >Submachine Universe</a
        >, from which many direct concepts were stolen. To wit: exploring a
        network of teleporters scattered across abandoned and broken places,
        with no signs of life except cryptic messages left by travelers you
        can't see. You also need to enter numbers to access different
        teleporters and thus different places. Never actually beat this game,
        but there's a
        <a href="https://www.youtube.com/watch?v=zoSl2gd8i3s">100% speedrun</a>
        worth looking at.
      </li>
      <li>
        <a href="https://www.thiswebsitewillselfdestruct.com/"
          >This Website Will Self-destruct</a
        >, a website where you can write anonymous messages and view anonymous
        messages sent by others. If it goes 24 hours without getting a message,
        it will delete everything. Hasn't happened as of me writing this. Go
        take your chance while you can!
      </li>

      <li>
        A lot of music was taken from
        <a href="https://www.glitchthegame.com/">Glitch</a>, a now-dead MMO I
        played years ago.
      </li>
    </ul>

    <h6>The full list of Shufflecomp songs I received:</h6>
    <ul>
      <li>
        <a href="https://youtu.be/qrP5IClb6b8"
          >Bad Moon Rising - Creedence Clearwater Revival</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=uLP8rFrL1W0"
          >King Gizzard and the Lizard Wizard - Crumbling Castle</a
        >
      </li>
      <li>
        <a
          href="https://ladytron.bandcamp.com/track/destroy-everything-you-touch-2"
          >Destroy Everything You Touch - Ladytron</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=bJeG-GGH114"
          >Akbar - Jeffrey Dallas</a
        >
      </li>
      <li>
        <a href="https://youtu.be/Ty_wKbvYo-s?si=2IjIFaHWmojICi0g"
          >Wake Up - Sion, SOULBYSEL</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=9ug1nNkm97o"
          >No More Hot Dogs by Hasil Adkins</a
        >
      </li>
      <li>
        <a href="https://confidencemantm.bandcamp.com/track/c-o-o-l-party"
          >Confidence Man - C.O.O.L Party</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=Obox1Jwn6UA"
          >Body of Desire - October</a
        >
      </li>
    </ul>

    <h6>Various areas were inspired by/stolen from other places:</h6>
    <p><a class="linkReplaced" identifier="placeInspirations">Spoilers. Click to view.</a></p>
    <ul class="linkReplacer hidden" identifier="placeInspirations">
      <li>
          I straight up put the
          <a href="https://www.youtube.com/watch?v=H4dGpz6cnHo">Backrooms</a> in
          this game because I could. Hey, liminal spaces are cool. The
          playground area is a ripoff of liminal playground concepts too,
          including &quot;Level FUN&quot;.
      </li>
      <li>
          The hidden area is heavily inspired by the outskirts of Redacre, from
          The Blackout Club. Specifically the stuff you see towards the
          <a href="https://www.youtube.com/watch?v=ZEJGw1oWUsI"
            >end of the prologue.</a
          >
          Cool game where the devs could hijack NPCs and talk directly to the
          players, leading to a lot of fun interactions.
      </li>
      <li>
          Greenhouse is kind of a ripoff of
          <a href="https://www.youtube.com/watch?v=QHg_gqZ03o8"
            >Greenhouse from Undertale Yellow</a
          >.
      </li>
    </ul>

    <h4>Full List of Node Teleport Codes</h4>
    <p><a class="linkReplaced" identifier="teleportList">Obvious spoilers. Click to view.</a></p>
    <div class="linkReplacer hidden" identifier="teleportList">
        <ul>
        <li>19283 - Greenhouse - Within Flower</li>
        <li>9272 - Maintenance Tunnel X - End</li>
        <li>666 - Ocean of Fire</li>
        <li>8108 - Drowned Apparatus</li>
        <li>1911 - Nexus Dome</li>
        <li>810 - Dungeon</li>
        <li>340 - Transmission Tower</li>
        <li>152 - Hidden Grove</li>
        <li>67 - Caterpillar&#39;s Stomach</li>
        <li>81818181 - Sky Grove</li>
        <li>416 - Bedroom</li>
        <li>2024 - Familiar Place</li>
        <li>124 - Cell</li>
        <li>9999999999 (ten nines) - Bridge - Sky Island</li>
        </ul>
    </div>

    <br />
    <p>[[Return to Main Menu|begin]]</p>
  </div>
</snippet>
