<snippet name="begin" tags="menu">

<div class="absoluteAlign topHalf">
    <img alt="CITADEL UNIVERSE" style="width: auto; height: 100%; margin: auto; display: block;" src="assets/castle.gif">
</div>
<div class="absoluteAlign bottomHalf blackBg center">
    <h2>Messages From the Universe Graveyard</h2>
    <p>Game by <a class="outsideLink" href="https://kadw.neocities.org">KADW</a> <small>{Version 1.1.3}</small></p>
    <br/>
    <p>[[About This Game|notes]]</p>
    <p>[[Begin|dormR9]]</p>
    <br/>
    <p>[[Image Credits|imageCredits]]</p>
    <p>[[Sound and Music Credits|musicCredits]]</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(3);
%>

</snippet>