<snippet name="start" start scripts="../meta/addWrapperHtml.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3>Messages From the Universe Graveyard</h3>
    <p>game by KADW</p>
    <br/>
    <p>[[Begin|dormX8]]</p>
    <p>[[Credits|credits]]</p>
</div>

</snippet>