<snippet name="begin" tags="menu">

<div class="absoluteAlign topHalf">
    <img alt="CITADEL UNIVERSE" style="width: auto; height: 100%; margin: auto; display: block;" src="assets/castle.gif">
</div>
<div class="absoluteAlign bottomHalf blackBg center">
    <h2>Messages From the Universe Graveyard</h2>
    <p>Game by <a class="outsideLink" href="https://kadw.neocities.org">KADW</a> <small>{Version 1.2.1}</small></p>
    <br/>
    <p><a id="gameEnter">Begin</a></p>
    <br/>
    <p>[[About This Game|notes]]</p>
    <p>[[Image Credits|imageCredits]]</p>
    <p>[[Sound and Music Credits|musicCredits]]</p>
    <p><a class="outsideLink" href="https://github.com/kadw108/Messages-From-the-Universe-Graveyard">Github</a></p>
</div>

<% 
$(function () {
    // transport to last visited location
    let location;
    if (s.current_location === null) {
        try {
            location = localStorage.getItem("kadw_graveyard_location");
        } catch (error) { // e.g. localStorage access is turned off in browser settings
            location = "dormR9";
        }
        if (location === "begin" || location === null) {
            location = "dormR9";
        }
    }
    else {
        location = s.current_location;
    }
    // console.log("location detected: " + location)

    const gameEnter = document.getElementById("gameEnter");
    gameEnter.addEventListener("click", () => {
        story.showSnippet(location);
    });
});
%>

</snippet>