<snippet name="begin" tags="menu" start>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3>Messages From the Universe Graveyard</h3>
    <p>game by KADW</p>
    <br/>
    <p>[[Begin|dormR9]]</p>
    <br/>
    <p>[[Image Credits|imageCredits]]</p>
    <p>[[Sound and Music Credits|musicCredits]]</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(3);
%>

</snippet>