<snippet name="collapsedHall" scripts="../meta/addWrapperHtml.js; ../meta/markerDivScript.js">

<div id="markerDiv" class="absoluteAlign hidden">

<button id="closeMarkerDiv" type="button">X</button>

<div class="pageLinkContainer">
    <ul>
        <li class="pageLink">1</li><li class="pageLink">2</li><li class="pageLink">3</li><li class="pageLink">...</li><li class="pageLink">78</li>
    </ul>

    <a>Next Page</a>
</div>

<div class="markerMessage">
    <h6 class="senderName">from: sender342</h6>
    <p>Hey there, how's everyone doing?</p>
    <p>I've moved into the bunker system now. Pretty chill place. How bout you guys?</p>
</div>

<div class="markerMessage">
    <h6 class="senderName">from: partner22</h6>
    <p>go fuck urself lol</p>
</div>

<div class="markerMessage">
    <h6 class="senderName">from: partner22</h6>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
</div>

<div class="markerMessage">
    <h6 class="senderName">from: partner22</h6>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
</div>

<div class="markerMessage">
    <h6 class="senderName">from: partner22</h6>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
</div>

<div class="markerMessage">
    <h6 class="senderName">from: partner22</h6>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
    <p>lorem ipsum dolor sit amet consecutor ipsum ladsfjdklafjklds jkdsajflkdsjaflkdjlk dldaj lkda jkldaj dlkjldk jdlksjaflkjd lk jflkjdsflkdjsaflkd jsflk djldksfjldksjdlksf jdlskaf</p>
</div>

<form class="sendBox">
    <h6>Leave a Message?</h6>
    <div>
        <label for="nameInput">Name</label><input type="text" id="nameInput">
    </div>

    <div>
        <label for="messageInput">Message</label><textarea id="messageInput" rows="10"></textarea>
    </div>

    <button type="submit">Send</button>
</form>

</div>

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Collapsed Hall</h3>

    <p>Mist swirls in this corridor. Small square windows, all broken, are embedded into the walls at regular intervals. Wind howls through them, disturbing the mist. Outside you can only see white clouds tinged with a faint blue glow, refracted from the blue-black stone.</p>

    <p>One window is covered by a <a class="whiteMarker">white marker</a>.</p>

    <p>[[East to the Flooded Hall 1|floodedHall1]]</p>
</div>

<%
$(function () {
    const ref = window.crumblingcastle;
    // ref.main();
});
%>

</snippet>