<snippet name="skyGrove" tags="depths">

<div class="menuPanel absoluteAlign hidden" identifier="machine">
    <p>A metallic switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="skyGrove">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Sky Grove</h3>

    <p>Enormous yellow ferns curl out of the ground and arch together. Under them, metallic arms intertwine into a cage-like <a class="panelOpener" identifier="machine">apparatus</a>, covered in dark draping vines.</p>

    <p>The grass below is a shade of green so bright it almost looks gold. A gray <button type="button" class="whiteMarker stoneStele" board="36">stone stele</button> pokes through. Scattered around it are scraps of metal, screws and hinges half-covered by dirt and dew.</p>

    <p>The undergrowth is thick enough to block most paths through the forest. You can move [[north|fallenSaint]], [[northeast|878Altar]], and [[south|343Altar]].</p>
</div>
</snippet>

<snippet name="878Altar" tags="depths depthspillar">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">19:11's Altar</h3>

    <p>Yellow ferns many time your height shiver in a breeze redolent with the fresh scent of saffron. The golden pillar that spears through the center of this grove is engraved with a language you don't understand. It hums at a pitch resonant with your bones, shivering into the core of you. The <button type="button" class="whiteMarker stoneStele" board="37">stone stele</button> by the pillar's side is minuscule in comparison.</p>

    <p>The undergrowth here is thick enough to block most paths through the forest. You can move [[northwest|emptyThrones]], [[southwest|skyGrove]], and [[west|fallenSaint]].</p>
</div>

</snippet>


<snippet name="343Altar" tags="depths">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">15:2's Altar</h3>

    <p>A rectangle of stone on the ground, now overgrown with golden moss, indicates the place where a building once stood. In the rectangle's center, a black monolith is covered with inscriptions you cannot make out in the dim lighting. Four candles, placed equidistant from the monolith, flicker erratically. Lush flowering vines cover the bottoms of the candles and the <button type="button" class="whiteMarker stoneStele" board="38">stone stele</button> nearby.</p>

    <p>Thick curtains of hanging vines block all paths but the way back [[north|skyGrove]], and a small space to the [[south|shatteredPath]] where you can squeeze through the foliage.</p>
</div>

</snippet>


<snippet name="fallenSaint" tags="depths depthssaint">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Fallen Saint</h3>

    <p>A stone wall surrounds the bottom half of an enormous stone statue, its top half sheared clean off. Dark vines, dotted with golden flowers, crawl over the statue and a neighboring <button type="button" class="whiteMarker stoneStele" board="39">stone stele</button>. Three sides of the wall have been eroded down to knee-height, with an overgrown doorway in the remaining side leading [[northwest|windPrayer]] to a more intact room that stands despite the ravages of time.</p>

    <p>The vegetation grows sparser to the [[north|emptyThrones]]. Paths through the undergrowth cut [[east|878Altar]] and [[south|skyGrove]].</p>
</div>

</snippet>


<snippet name="windPrayer" tags="depths depthsscrolls">

<div class="menuPanel absoluteAlign hidden" identifier="67">
    <p>You count sixty-seven in number.</p>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Wind Prayer</h3>

    <p>Within the darkness of this room you distinguish a multitude of <a class="panelOpener" identifier="67">paper scrolls</a>, all blank, hanging from the stone walls and the partially collapsed ceiling. Wind blows through holes from above, and the scrolls sway in the breeze. Flecks of gold pollen swirl. A <button type="button" class="whiteMarker stoneStele" board="40">stone stele</button> is placed unobtrusively in the corner.</p>

    <p>The only exit is a doorway in the [[southeast|fallenSaint]], half-concealed behind a blanket of yellow-green leaves.</p>
</div>

</snippet>


<snippet name="emptyThrones" tags="depths depthsthrones">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Empty Thrones</h3>

    <p>This grove is filled with concentric rings of stone pedestals, some crumbling, most in surprisingly pristine condition. Each pedestal is empty. In the center of all the rings, a <button type="button" class="whiteMarker stoneStele" board="41">stone stele</button> hovers.</p>

    <p>To the [[north|108Altar]], the vegetation thins until it vanishes entirely. Paths lead [[south|fallenSaint]] and [[southeast|878Altar]] through the forest.</p>
</div>

</snippet>


<snippet name="108Altar" tags="depths depthsfountain">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">8:10's Altar</h3>

    <p>The ferns part here, revealing a sheer cliff that drops into swirling gray mist. A thicket of vines near the edge prevents you from falling. Before it is a simple stone fountain, spouting red liquid into a shallow basin. Yellow flowers grow around it. A <button type="button" class="whiteMarker stoneStele" board="42">stone stele</button> hovers directly above.</p>

    <p>[[South|emptyThrones]] takes you back into the forest.</p>
</div>

</snippet>


<snippet name="shatteredPath" tags="depths depthsbridge">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Shattered Path</h3>

    <p>The ferns part here, revealing a sheer cliff beneath a roseate sky streaked with gold. All around, the wind howls. Small snowflakes flurry down around you, mingled with specks of yellow pollen. You feel no cold.</p>

    <p>The remnants of a bridge stretch into the air. Only a few feet of the bridge remain. Looking down beneath the wooden slats reveals several cracked supports pillars, then nothing. A <button type="button" class="whiteMarker stoneStele" board="43">stone stele</button> hovers above the empty air left behind by the cracked supports, thankfully still within reach.</p>

    <p>The forest thickens to the [[north|343Altar]].</p>
</div>

</snippet>