<snippet name="floodedHall1" scripts="../meta/addWrapperHtml.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3>Flooded Hall 1</h3>
    <p>[[West to the Collapsed Hall|collapsedHall]]</p>
    <p>[[East to the Flooded Hall 2|floodedHall2]]</p>
</div>

<%
$(function () {
    const ref = window.crumblingcastle;
    // ref.main();
});
%>

</snippet>