<snippet name="floodedHall1" scripts="../meta/addWrapperHtml.js; ../meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Flooded Hall 1</h3>

    <p>Water pours through holes in the ceiling, dripping down white flowers and white vines, pattering onto stone, flowing through long-worn crevices, before falling away through small cracks and holes threading through the floor. The <a class="whiteMarker" board="1">white marker</a> sits half-covered in vines.</p>

    <p>[[West to the Collapsed Hall|collapsedHall]]</p>
    <p>[[East to the Flooded Hall 2|floodedHall2]]</p>
</div>

</snippet>