<snippet name="floodedHall2" scripts="../meta/addWrapperHtml.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3>Flooded Hall 2</h3>
    <p>[[West to the Flooded Hall 1|floodedHall1]]</p>
</div>

<%
$(function () {
    const ref = window.crumblingcastle;
    // ref.main();
});
%>

</snippet>