<snippet name="collapsedHall" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Collapsed Hall</h3>

    <p>Puddles of water cover the floor. Small square windows, some cracked, are embedded into the walls at regular intervals. Wind howls through them, disturbing the mist. Outside you see white clouds tinged with a faint blue glow, refracted from the blue stone beneath you.</p>

    <p>One window is covered by a <a class="whiteMarker marblePlaque" board="0">marble plaque</a>.</p>

    <p>The hall runs [[north|pit]] and [[south|floodedHallNorth]].</p>
</div>

</snippet>


<snippet name="floodedHallIntersection" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Flooded Hall - Intersection</h3>

    <p>Water pours through holes in the ceiling, dripping down white flowers and white vines, pattering onto stone, flowing through long-worn crevices, before falling away through small cracks and holes threading through the floor. A <a class="whiteMarker marblePlaque" board="1">marble plaque</a> sits half-covered in vines.</p>

    <p>The hall runs [[north|floodedHallNorth]] and [[south|floodedHallSouth]]. To the [[northeast|hallOfStatues]], steps ascend to a corridor that looks to be in slightly better shape. An overgrown hallway intersects with this one to the [[west|overgrownHallEast]].</p>
</div>

</snippet>


<snippet name="floodedHallNorth" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Flooded Hall - North</h3>

    <p>This section of the hall is flooded with a low layer of water, and more pours from the ceiling. On the walls, luminescent fungi cast a rippling blue glow. Mushrooms sprout all around you, and a <a class="whiteMarker marblePlaque" board="2">marble plaque</a> sits nestled among them.</p>

    <p>The hall runs [[north|collapsedHall]] and [[south|floodedHallIntersection]].</p>
</div>
</snippet>


<snippet name="floodedHallSouth" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Flooded Hall - South</h3>

    <p>The water falls with more ferocity, here. A miniature rainstorm contained in this one room. At the end of the hall is a sheer curtain of water, a waterfall crashing down with a deafening roar. The <a class="whiteMarker marblePlaque" board="12">plaque</a> is concealed behind the waterfall.</p>

    <p>The hall ends here. You can only go back [[north|floodedHallIntersection]].</p>
</div>
</snippet>


<snippet name="greenhouseEntrance" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Greenhouse - Entrance</h3>

    <p>This might have been a normal greenhouse once, but all the plants are covered by a thin layer of white fuzz. Their original colors can barely be discerned beneath the growth. White flowers sprout from other flowers, from the ceiling, from the walls. White vines lash together, stretching between plants and trees, like cobwebs. Unlike cobwebs, you can walk through them, feeling only a vague humidity as they dissolve at your touch and reform behind you.</p>

    <p>A <a class="whiteMarker marblePlaque" board="94">marble plaque</a> is nestled in the center of one flower, now overgrown with fuzz. The light here is a soft blue. From somewhere plays the distant trickle of water.</p>

    <p>An archway to the [[northeast|overgrownHallGraveyard]] leads to an overgrown stone hall. A path runs [[north|greenhouseNorth]] and [[south|greenhouseFlower]].</p>
</div>
</snippet>


<snippet name="greenhouseFountain" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Greenhouse - Fountain</h3>

    <p>A stone fountain, covered in white flowers, plays merrily in the center of this little plaza. Five benches surround it. On one sits a gleaming <a class="whiteMarker marblePlaque" board="20">marble plaque</a>. Crumpled robots lie in the white foliage, obscured mostly by white leaves.</p>

    <p>The path is too choked by vines here for you to continue. There is no way to go but back [[east|greenhouseNorth]].</p>
</div>
</snippet>


<snippet name="greenhouseNorth" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Greenhouse - North</h3>

    <p>Wind whistles through holes in the waterlogged ceiling. White flowers carpet the floor, curling their vines towards you. Their texture is the same as the other flowers - strangely soft, as if made of mist. You wave your hand through them and they disperse, then reform. You cannot take them.</p>

    <p>A <a class="whiteMarker marblePlaque" board="95">marble plaque</a>, partly covered in vines, has been affixed to the stone.</p>

    <p>The path runs [[north|greenhousePond]], [[south|greenhouseEntrance]], and [[west|greenhouseFountain]].</p>
</div>
</snippet>

<snippet name="greenhousePond" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Greenhouse - Pond</h3>

    <p>A small blue pond sits amidst the foliage, rippling gently. Beams of sunlight shine from holes in the ceiling and glitter on the water. Tiny lilypads float on the pond's surface, boasting small white lilies. A <a class="whiteMarker marblePlaque" board="19">marble plaque</a> bobs among them.</p>

    <p>The path is too choked by vines here for you to continue. There is no way to go but back [[south|greenhouseNorth]].</p>
</div>
</snippet>

<snippet name="greenhouseFlower" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Greenhouse - Flower</h3>

    <p>The bud of an enormous white flower, at least ten meters in height, rises from a circle of stone. A small opening between the petals is just large enough to allow entrance. A <a class="whiteMarker marblePlaque" board="92">marble plaque</a> sits beside it.</p>

    <p>All around are white flowers and white vines.</p>

    <p>You can step [[inside|greenhouseWithinFlower]], or take the small stone path [[north|greenhouseEntrance]].</p>
</div>
</snippet>

<snippet name="greenhouseWithinFlower" tags="greenhouse">

<div class="panelFull absoluteAlign hidden" identifier="machine">
    <p>A metallic switch gleams prominently beneath a black screen.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="greenhouseWithinFlower">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Greenhouse - Within Flower</h3>

    <p>You stand inside a giant flowerbud. Soft white petals curve upwards: delicate things, silken to the touch. Planted in the center is another cage-like <a class="panelOpener" identifier="machine">apparatus</a>, comprised of metal rods intertwined with white vines and wires.</p>

    <p>Light filters through a small opening between the petals, leading [[outside|greenhouseFlower]].</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(1);
%>

</snippet>

<snippet name="hallOfStatues" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Hall of Statues</h3>

    <p>On both sides of this corridor, overgrown statues sit in regularly placed alcoves, the features of each obscured by white flowers. Piles of waterlogged machinery lie neglected on the floor, some overgrown with white fuzz. The walls are covered in it.</p>

    <p>One alcove is populated by a <a class="whiteMarker marblePlaque" board="13">marble plaque</a>.</p>

    <p>Steps descend to a flooded intersection in the [[southwest|floodedHallIntersection]]. To the [[northeast|statueTowerStairwell]], the corridor opens into a stairwell.</p>
</div>
</snippet>


<snippet name="overgrownStorage" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Overgrown Storage</h3>

    <p>Scattered here and there are metallic crates. Most are overgrown with twisting white vines that disperse at your touch, and reform once you withdraw from them. A <a class="whiteMarker marblePlaque" board="17">marble plaque</a> has been nailed onto one of the crates.</p>

    <p>To the [[south|overgrownHallWest]], a rusty door leads to an overgrown hallway.</p>
</div>
</snippet>


<snippet name="overgrownHallEast" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Overgrown Hall - East</h3>

    <p>A mass of flowers hang from the ceiling of this corridor, pure white against the blue-black stone. White vines twine in and out of the walls. Everywhere is white mist or foliage, constantly dispersing and swirling together. You can't tell the difference between the two. The <a class="whiteMarker marblePlaque" board="93">marble plaque</a> on the wall looks misty, irreal.</p>

    <p>The hall runs to the [[east|floodedHallIntersection]], where you hear the sound of running water, and the [[west|overgrownHallWest]]. A stone door stands open to the [[south|overgrownPillar]].</p>
</div>
</snippet>


<snippet name="overgrownHallGraveyard" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Overgrown Hall - Graveyard</h3>

    <p>The crumpled bodies of robots lie here, overgrown with white flowers. A <a class="whiteMarker marblePlaque" board="18">marble plaque</a> floats above one of the larger broken robots: a dismembered android, its one remaining eye encircled by white vines. Vines grow everywhere, twining into the old machines, sprouting from the cracks.</p>

    <p>A stone archway to the [[southwest|greenhouseEntrance]] opens into a larger chamber. The hallway continues to the [[east|overgrownHallWest]].</p>
</div>
</snippet>


<snippet name="overgrownHallWest" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Overgrown Hall - West</h3>

    <p>This section of the hall is piled with broken machinery: cracked glass bulbs and rusty pipes and buttons of all sorts. Enormous white flowers shine on the ceiling, the walls. Their vines have snaked into every crevice of these old machines. Lights still blink on and off on some, flashing red and green indicators, but no alarm sounds. They are beyond repair.</p>

    <p>A <a class="whiteMarker marblePlaque" board="16">marble plaque</a> is set into a wall.</p>

    <p>A rusty door swings to the [[north|overgrownStorage]]. The hall runs to the [[east|overgrownHallEast]] and [[west|overgrownHallGraveyard]].</p>
</div>
</snippet>


<snippet name="overgrownPillar" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Overgrown Pillar</h3>

    <p>A broken pillar, covered in white vines, stands in the center of this room. Whatever it might have supported is no longer there. A <a class="whiteMarker marblePlaque" board="15">marble plaque</a> levitates above the remains of the pillar, rotating slowly.</p>

    <p>To the [[north|overgrownHallEast]], a stone door leads to an overgrown hallway.</p>
</div>
</snippet>


<snippet name="pit" tags="greenhouse">

<div class="panelFull absoluteAlign hidden" identifier="pitMenu">Will you [[jump|sunkenHallTransition]] into the pit?</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Pit</h3>

    <p>An enormous <span class="hiddenLink"><a class="panelOpener" identifier="pitMenu">pit</a></span> carves this hallway in half. Water rushes into it, cascading into darkness, producing a cacophonous roar. Crossing is impossible. You cannot see the bottom.</p>

    <p>The hall continues to the [[south|collapsedHall]].</p>
</div>
</snippet>

<snippet name="statueTowerStairwell" tags="greenhouse">

<div class="panelFull absoluteAlign hidden" identifier="statues">
    <p>They look more like lumps of stone than statues. Someone has labeled them, all the same:</p>

    <p>The Girl Who Lived In The Reflection of A Glass of Water</p>

    <p>Jostiphenes, the Jester with 1911 Faces</p>

    <p>Angels' Muse</p>

    <p>Blind Pilgrim Pēteris, Impaled On His Own Thorns</p>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Statue Tower - Stairwell</h3>

    <p>This spiral staircase winds [[up|statueTowerSummit]] a tall stairwell. Water drips from some secret place as you climb. <a class="panelOpener" identifier="statues">Statues</a> protrude from alcoves in the walls, their forms weathered and overgrown by white vines. One statue that might be a blindfolded human is holding a <a class="whiteMarker marblePlaque" board="91">marble plaque</a>. Going down [[southwest|hallOfStatues]] takes you to a statue-filled hallway.</p>
</div>
</snippet>


<snippet name="statueTowerSummit" tags="greenhouse">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Statue Tower - Summit</h3>

    <p>The stone door at the top of the stairwell leads to a flat, circular roof. No parapet keeps you from jumping. Beyond is only mist, pierced through by some flickering florescence that radiates blue light onto the stone. A <a class="whiteMarker marblePlaque" board="14">marble plaque</a> stands guard by the edge.</p>

    <p>The stairs lead [[down|statueTowerStairwell]].</p>
</div>
</snippet>


