<snippet name="sunkenHallTransition" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

    <p>You plunge into inky darkness.</p>

    <p>As your eyes adjust, you begin to make out new shapes...</p>

    <p>[[---|sunkenHall]]</p>
</snippet>

<snippet name="sunkenHall" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Sunken Hall</h3>

    <p>This hall is entirely flooded. Shoals of curious fish flicker through the water, glowing with blue stripes. Pale coral and fronds of sea grass sway gently.</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(2);
%>

</snippet>

<snippet name="blackWormbed" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Black Wormbed</h3>

    <p>Black sea worms undulate through the length of this ruined hall. Dark tubes about half a meter in diameter, each as long as the hall itself, swaying gently. They are smooth and soft to the touch.</p>
</div>
</snippet>

<snippet name="jellyfish" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Jellyfish</h3>

    <p>An enormous jellyfish hums in the center of this drowned chamber. Its bell pulses in and out, rings of concretic light spreading from its top. Its tentacles wave at you.</p>
</div>
</snippet>

<snippet name="kelpForest" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Kelp Forest</h3>

    <p>A shimmering undersea forest in shades of cyan, cerulean, prussian blue. Fish dart in and out between waving fronds, and jellyfish float lazily around.</p>
</div>
</snippet>

<snippet name="kelpGraveyard" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Kelp Graveyard</h3>

    <p>Skeletons lie between kelp fronds, some with fronds sprouting from their eyesockets or ribcages. You cannot tell what might have killed them. Perhaps they are only decoration.</p>
</div>
</snippet>

<snippet name="sunkenStatue" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Sunken Statue</h3>

    <p>A marble statue gleams, half-buried in rubble. Around it, fronds of luminescent seagrass grows from the cracked cobblestones. Bubbles swirl.</p>
</div>
</snippet>

<snippet name="treasurePile" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Treasure Pile</h3>

    <p>Shining amidst the silt is an enormous pile of treasure. Gold atop gems atop silver chalices atop jeweled swords and shields. Coins spill from sunken chests. A <a class="whiteMarker stoneStele" board="21">stone stele</a> lies half-covered by a rusty shield. Unfortunately, none of it can be taken.</p>
</div>
</snippet>

<snippet name="whiteWormbed" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">White Wormbed</h3>

    <p>White worms squirm through the water here, each a finger's length, silvery. Little moonbeams caught in the water. Shimmering.</p>
</div>
</snippet>