<snippet name="sunkenHallTransition" tags="transition">

<p class="removedOnClick" identifier="plunge">You plunge into <a class="linkReplaced" identifier="plunge">darkness</a>.</p>

<div class="linkReplacer hidden" identifier="plunge"><p>As your eyes adjust, you begin to make out new shapes...</p>

<p>[[---|sunkenHall]]</p></div>

</snippet>

<snippet name="sunkenHall" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Sunken Hall</h3>

    <p>This hall is entirely underwater. The walls have been eroded down to stone stubs, jutting out of the sand. In the distance, you see similar shapes that could be remnants of other rooms.</p>

    <p>Shoals of curious fish flicker through the water, glowing with blue stripes. Pale coral and fronds of sea grass sway gently.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>

</snippet>

<snippet name="blackWormbed" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Black Wormbed</h3>

    <p>Black sea worms undulate through the length of this drowned hall. Dark tubes about half a meter in diameter, each as long as the ruined walls themselves, sway gently. They are smooth and soft to the touch.</p>

    <p>A <a class="whiteMarker coralSlab" board="44">blue coral slab</a> floats between two glistening black worms.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="jellyfish" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Jellyfish</h3>

    <p>An enormous jellyfish hums in the center of this wrecked chamber. Its bell pulses in and out, rings of concentric light spreading from its top. It waves a tendril at you. Beneath it is a <a class="whiteMarker coralSlab" board="45">blue coral slab</a>.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="kelpForest" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Kelp Forest</h3>

    <p>A shimmering undersea forest in shades of cyan, cerulean, seafoam green. Fish dart in and out between waving fronds, and jellyfish float lazily around. Tendrils of kelp encircle a pink <a class="whiteMarker coralSlab" board="46">coral slab</a> floating above the sand.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="kelpGraveyard" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Kelp Graveyard</h3>

    <p>Skeletons lie between kelp fronds, some with fronds sprouting from their eyesockets or ribcages. You cannot tell what might have killed them. Above them, a <a class="whiteMarker coralSlab" board="47">coral slab</a> drifts lazily back and forth.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="submergedStatue" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Submerged Statue</h3>

    <p>The top half of a colossal marble statue gleams, half-buried in rubble. Around it, fronds of luminescent seagrass grow from cracked cobblestones. A <a class="whiteMarker coralSlab" board="48">coral slab</a> protrudes from a seagrass thicket. Bubbles swirl.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="treasurePile" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Treasure Pile</h3>

    <p>Shining amidst the silt is an enormous pile of treasure. Gold atop gems atop silver chalices atop jeweled swords and shields. Coins spill from sunken chests. A <a class="whiteMarker coralSlab" board="21">coral slab</a> lies half-covered by a rusty shield.</p>

    <p>Unfortunately, none of it can be taken.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="whiteWormbed" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">White Wormbed</h3>

    <p>White worms squirm through the water here, each a finger's length, silvery. Little moonbeams caught in the water. Shimmering.</p>

    <p>A knot of white worms encircles a <a class="whiteMarker coralSlab" board="49">coral slab</a> free-floating in the water.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="underwaterMachines" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Underwater Machines</h3>

    <p>Underwater machines hum and clatter. Currents churn from still-spinning motors, tugging you this way and that. Kelp fronds waver in the tide. A <a class="whiteMarker coralSlab" board="50">coral slab</a> lies nestled among them.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="drownedApparatus" tags="sunken">

<div class="menuPanel absoluteAlign hidden" identifier="machine">
    <p>Pushing away the seagrass, you can make out a rusty switch and a black screen above.</p>

    <div class="machineScreen">
        <label for="coordinates">NODE ID</label>
        <input name="coordinates" type="number" step="1"/>
    </div>

    <p><a class="activateLink" location="drownedApparatus">Pull switch.</a></p>

    <div class="successfulActivation hidden">
        <p>Light flashes. A coruscating rip in the fabric of spacetime opens before you.</p>

        <p><a class="successfulActivationLink">Enter.</a></p>
    </div>
    <div class="unsuccessfulActivation hidden">
        <p>[errorNodeNotFound]</p>
    </div>
</div>

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Drowned Apparatus</h3>

    <p>Concealed within thick layers of kelp and seagrass is another cage-like <a class="panelOpener" identifier="machine">apparatus</a>, bubbles trailing up from its interlocked metallic arms. Dark cables thread from the base of the apparatus into the sand, weaving through the aquatic undergrowth.</p>

    <p class="swimUp"><a>Swim up.</a></p>

    <p class="drift"><a>Drift with the current.</a></p>
</div>
</snippet>

<snippet name="current" tags="sunken">

<div class="absoluteAlign topHalf">
</div>
<div class="absoluteAlign bottomHalf blackBg">
    <h3 class="roomName">Current</h3>

    <p>You glimpse light above. As you approach, you feel a strong current rippling up from the depths, threatening to drag you irreversibly to the surface.</p>

    <p>[[Let the current pull you up.|shoreTransition]]</p>

    <p class="drift">[[Swim against the current, returning down.]]</p>
</div>
</snippet>

<snippet name="shoreTransition" tags="transition">

<p><a class="removedOnClick linkReplaced" identifier="current">You shoot through the water... </a></p>

<div class="linkReplacer hidden" identifier="current"><p>You break the surface with a splash. Dark droplets scatter around you.</p>

<p>[[---|bathhouseDeepWater]]</p></div>

</snippet>