/* FOR CUSTOM FONTS */
/* Add in font variations as you need them for italic/bold/etc - see https://www.metaltoad.com/blog/how-use-font-face-avoid-faux-italic-and-bold-browser-styles */
/* Or just settle for faux-italic, faux-bold */

@font-face {
  	font-family: "Go Mono";
  	src: url("assets/Go-Fonts/Go-Mono.ttf");
  	font-style: normal;
  	font-weight: normal;
}
@font-face {
 	font-family: "Go Mono";
  	src: url("assets/Go-Fonts/Go-Mono-Italic.ttf");
  	font-style: italic;
  	font-weight: normal;
}
@font-face {
 	font-family: "Go Mono";
  	src: url("assets/Go-Fonts/Go-Mono-Bold.ttf");
  	font-style: normal;
  	font-weight: bold;
}
@font-face {
 	font-family: "Go Mono";
  	src: url("assets/Go-Fonts/Go-Mono-Bold-Italic.ttf");
  	font-style: italic;
  	font-weight: bold;
}