.closeButton {
  position: absolute;
  right: 8px;
  top: 5px;
}

.panelFull {
  z-index: 20;
  margin: 20px;
  padding-bottom: 15px;
  background-color: #000;
  border: 3px double #fff;
  border-radius: 5px;

  font-size: 90%;

  overflow: scroll;
}
