.closeButton {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.menuPanel {
  z-index: 20;
  margin: 5px;
  padding-bottom: 15px;
  background-color: #000;
  border: 3px double #fff;
  border-radius: 5px;

  font-size: 90%;

  overflow: scroll;
  padding: 10px;
}

.smallPanel {
  margin: 20px;
  height: fit-content;
}