/*
GENERAL STYLE
*/

/* Can define CSS variables here */
:root {
    --color1: #fabb33;
    --colorb: #fcdd55;
    --color2: #fff;
    --shadow: #ddd;

  	--screenheight: 675px;
  	--screenwidth: 765px;
  	--screenheightbig: 700px;
  	--screenwidthbig: 800px;
}

/* Background and fullscreen cover (for menus) */
.fullscreenBg {
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

#bg {
  background-image: url("assets/background.png");
  background-color: #000000;
}

#screenCover {
  background-image: url("assets/background.png");
  background-color: #000000;
}

/* Passage container */
#passages {
  margin: 10px auto auto auto;
  padding: 15px;

  width: 600px;
  height: 800px;
  
  /* Prevent images from extending past div bounds
  object-fit: cover;
  overflow: hidden;
  */

  background-color: rgba(0, 0, 0, 0.92);
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 5);
  
  font-size: 100%;
  font-family: "MonoFont", monospace;

  position: relative;
}

@media only screen 
and (max-width: 600px) {
  #passages {
    width: 100%;
  }
}
@media only screen
and (max-height: 800px) {
  #passages {
    height: 100vh;
    min-height: 500px;
  }
}

/* For passages themselves */
.passage {
  /* overflow: auto; */
  height: 100%;
  width: 100%;
  position: relative; /* See https://stackoverflow.com/a/46318225
  - this sets .passage div as reference point for children position: absolute divs*/
}

#screenBg {
  width: 100%;
  height: 100%;

  background-color: #000;
  background-size: cover;
  background-position: center;
  
  border: 2px solid white;
  border-image: url(assets/white3.gif);
  border-image-slice: 4;

  position: relative;
  z-index: 0;
}

#screenContents {
  width: 97%;
  height: 97%;
  margin: auto;
}
div .topHalf {
  width: 100%;
  height: 50%;
  bottom: 50%;
  margin: auto;
}
div .topHalf img {
  width: 100%;
  height: 100%;
}
div .bottomHalf, div .bothHalves {
  width: 100%;
  height: 100%;
  bottom: 0%;
  top: auto;
  min-height: 350px;

  margin: auto;

  padding: 10px;
  padding-bottom: 25px;
  overflow: scroll;
}
div .bottomHalf {
  height: 50%;
  bottom: 0%;
  top: auto;

  border-image: url("assets/black1.gif");
  border-color: #222;
  border-image-slice: 8;
  border-width: 7px;
  border-image-repeat: repeat;
}

/*
CUSTOM STYLES
*/

.menuPanel {
  overflow: scroll;
  padding: 3px 7px 3px 7px;
  margin: 5px;

  background-color: #001020;
  border: 1px dotted #ccc;
  border-radius: 10px;
}

.hoverDiv {
  position: absolute;
  z-index: 3;
  line-height: 100%;
  padding: 4px;

  display: none;
}

.outlineDiv {
  outline: none;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2),inset 0 -1px 2px #fff;

  color: #fff;
  border: solid 1px #aaa;
  background: #000;
}

.blackBg {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.absoluteAlign {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.gray {
  color: #ffffff;
  text-decoration: underline;
}
.gray:hover {
  color: #aaaaaa;
}

.red-text {
  color: #ff0000;
  text-decoration: underline;
}
.green-text {
  color: #00ff00;
  text-decoration: underline;
}

.smalltext {
  color: #777777;
  font-size: 0.8em;
}

.noClick{
  pointer-events: none;
}

.hidden {
  display: none;
}

.transitionMessage {
  font-style: italic;
  font-size: 80%;
}

.unsuccessfulActivation {
  color: #ff0000;
}

.center {
  text-align: center;
}

.menuButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 85%;

  display: flex;
  gap: 10px;

  background-color: #000;
  padding: 5px;
}

.menuButton {
  z-index: 2;

  /* border-image: url("assets/black1.gif");
  border-image-slice: 1;
  border-width: 2px; */

  color: #eee;

  border-color: #666;
  border-radius: 10%;
}

.corruptDataPlaceholder {
  height: 14px;
  width: 70px;
}

/*
OVERRIDING DEFAULT CSS STYLES
*/

body {
  color: #ffffff;
  word-wrap: break-word;
}

small {
  font-size: 70%;
}

/* For replacelink */
.initial {
  color: #eeeeee;
}
.initial:hover {
  color: #666666;
}

a:not([data-snippet]) {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
a[data-snippet] {
  color: #809fdd;
  text-decoration: underline;
  text-underline-offset: 3px;
}
a[identifier="machine"] {
  text-decoration: underline;
  text-underline-offset: 3px;
}
a:hover {
  text-decoration: inherit;
  color: #446699;
}
.hiddenLink a {
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
}
a.outsideLink {
  color: #aac0cf;
}
a.outsideLink:hover {
  text-decoration: underline;
}

div {
  box-sizing: border-box;
}

hr {
  height: 0px;
  margin: 3px 0;
}

button {
  background-color: #000;
  color: #fff;
  cursor: pointer;

  font-family: 'MonoFont', monospace;
}
button:hover {
  background-color: #444;
}
.linkReplaced, .linkHider {
  cursor: pointer;
}

/* CUSTOM STYLINGS (because reset.css) */

h1 {
  font-size: 225%;
}
h2 {
  font-size: 175%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 115%;
}
h5 {
  font-size: 110%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 15px 0 15px 0;
}
h4, h5 {
  margin: 9px 0 9px 0;
}
h6 {
  margin: 3px 0 3px 0;
}

body > div, span {
  margin: 3px 0 3px 0;
}

p {
  margin: 12px 0 12px 0;
}
li {
  margin: 12px 0 12px 0;
}

/* Fonts */

h1, h2, h3 {
  font-family: "Display1", "MonoFont", monospace;
  letter-spacing: 0.02em;
  text-transform: uppercase; 
}