<snippet name="blackWormbed" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Black Wormbed</h3>

    <p>Black sea worms undulate through the length of this ruined hall. Dark tubes about half a meter in diameter, each as long as the hall itself, swaying gently. They are smooth and soft to the touch.</p>
</div>
</snippet>