<snippet name="jellyfish" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Jellyfish</h3>

    <p>An enormous jellyfish hums in the center of this drowned chamber. Its bell pulses in and out, rings of concretic light spreading from its top. Its tentacles wave at you.</p>
</div>
</snippet>