<snippet name="kelpForest" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Kelp Forest</h3>

    <p>A shimmering undersea forest in shades of cyan, cerulean, prussian blue. Fish dart in and out between waving fronds, and jellyfish float lazily around.</p>
</div>
</snippet>