<snippet name="kelpGraveyard" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Kelp Graveyard</h3>

    <p>Skeletons lie between kelp fronds, some with fronds sprouting from their eyesockets or ribcages. You cannot tell what might have killed them. Perhaps they are only decoration.</p>
</div>
</snippet>