<snippet name="sunkenStatue" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Sunken Statue</h3>

    <p>A marble statue gleams, half-buried in rubble. Around it, fronds of luminescent seagrass grows from the cracked cobblestones. Bubbles swirl.</p>
</div>
</snippet>