<snippet name="sunkenHall" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Sunken Hall</h3>

    <p>This hall is entirely flooded. Shoals of curious fish flicker through the water, glowing with blue stripes. Pale coral and fronds of sea grass sway gently.</p>
</div>

<% 
window.crumblingcastle.musicManager.playSoundtrack(2);
%>

</snippet>