<snippet name="treasurePile" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">Treasure Pile</h3>

    <p>Shining amidst the silt is an enormous pile of treasure. Gold atop gems atop silver chalices atop jeweled swords and shields. Coins spill from sunken chests. A <a class="whiteMarker stoneStele" board="21">stone stele</a> lies half-covered by a rusty shield. Unfortunately, none of it can be taken.</p>
</div>
</snippet>