<snippet name="whiteWormbed" scripts="meta/addWrapperHtml.js; meta/markerDivScript.js">

<div id="topHalf" class="absoluteAlign">
</div>
<div id="bottomhalf" class="absoluteAlign blackBg">
    <h3 class="roomName">White Wormbed</h3>

    <p>White worms squirm through the water here, each a finger's length, silvery. Little moonbeams caught in the water. Shimmering.</p>
</div>
</snippet>